{% extends "admin.twig" %}

{% block content %}
<div id="wrapper">
  <div class="navbar navbar-inverse  navbar-fixed-top">
    <div class="pull-left">
      <a id="navigation" class="toggleMenu" href="#" title="bdus.CMS">
        <i class="fa fa-bars big" aria-hidden="true"></i></a>
    </div>

    <div class="pull-right hidden-xs">
      <!-- Shorthand menu -->
      <ul class="shorthands">
        <li><a href="#article/all" title="{{ tr.get('show_all_articles') }}"
             data-toggle="tooltip" data-placement="bottom">
             <i class="fa fa-eye big" aria-hidden="true"></i>
          </a></li>
        <li><a href="#article/addNew" title="{{ tr.get('add_new_article') }}"
               data-toggle="tooltip" data-placement="bottom">
             <i class="fa fa-plus-circle big" aria-hidden="true"></i>
          </a></li>
        <li><a href="#menu/all" title="{{ tr.get('show_all_menus') }}"
             data-toggle="tooltip" data-placement="bottom">
             <i class="fa fa-th-list big" aria-hidden="true"></i>
          </a></li>
        <li><a href="#media/all" title="{{ tr.get('media') }}"
               data-toggle="tooltip" data-placement="bottom">
             <i class="fa fa-picture-o big" aria-hidden="true"></i>
          </a></li>
        <li><a href="./" target="_blank" title="{{ tr.get('view_site') }}"
               data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-desktop big"></i>
          </a></li>
        <li><a href="#docs/read/readme" title="{{ tr.get('docs') }}"
               data-toggle="tooltip" data-placement="bottom">
             <i class="fa fa-info-circle big"></i>
          </a>
        </li>

        <li><a href="#log/out" title="{{ tr.get('logout') }}"
               data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-sign-out big"></i>
          </a></li>
      </ul>
    </div>
  </div>

  <!-- Main menu  -->
  <div id="menu" >
    <div class="menu-content">
      <ul class="main-menu">
        <!-- Articles -->
        <li>
          <a href="#" class="sub-toggle">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            {{ tr.get('articles') }} <b class="caret"></b>
          </a>
          <ul class="sub">
            <li>
              <a href="#article/addNew">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ tr.get('add_new_article') }}
              </a>
            </li>
            <li>
              <a href="#article/all">
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{ tr.get('show_all_articles') }}
              </a>
            </li>
            <li>
              <a href="#tags/manage">
                <i class="fa fa-tags" aria-hidden="true"></i>
                {{ tr.get('tag_manager') }}
              </a>
            </li>
            <li>
              <a href="#protectedtags/users">
                <i class="fa fa-lock" aria-hidden="true"></i>
                {{ tr.get('protected_tags') }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Menus -->
        <li>
          <a href="#" class="sub-toggle">
            <i class="fa fa-th-list" aria-hidden="true"></i>
            {{ tr.get('menu') }} <b class="caret"></b>
          </a>
          <ul class="sub">
            <li>
              <a href="#menu/addNew">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ tr.get('add_new_menu_item') }}
              </a>
            </li>
            <li>
              <a href="#menu/all">
                <i class="fa fa-th-list" aria-hidden="true"></i>
                {{ tr.get('show_all_menus') }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Media -->
        <li>
          <a href="#" class="sub-toggle">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            {{ tr.get('media') }} <b class="caret"></b>
          </a>
          <ul class="sub">
            <li>
              <a href="#media/all">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                {{ tr.get('media') }}
              </a>
            </li>
            <li>
              <a href="#galleries/all">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                {{ tr.get('galleries') }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Plugins -->
        <li>
          <a href="#" class="sub-toggle">
            <i class="fa fa-code-fork"></i>
            {{ tr.get('plugins') }} <b class="caret"></b>
          </a>
          <ul class="sub">
              <li>
                <a href="#userform/view">
                  <i class="fa fa-check-square"></i>
                  {{ tr.get('user_forms') }}
                </a>
              </li>
              <li>
                <a href="#usermap/view">
                  <i class="fa fa-map-o"></i>
                  {{ tr.get('user_maps') }}
                </a>
              </li>
              <li>
                <a href="#downloads/all">
                  <i class="fa fa-cloud-download"></i>
                  {{ tr.get('downloads') }}
                </a>
              </li>

              <li>
                <a href="#seo/all">
                  <i class="fa fa-line-chart"></i>
                  {{ tr.get('seo_manager') }}
                </a>
              </li>

              <li>
                <a href="#download/all">
                  <i class="fa fa-area-chart"></i>
                  {{ tr.get('download_count') }}
                </a>
              </li>

              <li>
                <a href="#tmpldata/view">
                  <i class="fa fa-asterisk"></i>
                  {{ tr.get('tmpl_data') }}
                </a>
              </li>


            {% for mod in custom_mods %}
              <li>
                <a href="./admin#plugins/run/{{ mod }}">
                  <i class="fa fa-magic"></i>
                  {{ tr.get(mod) }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>

        <!-- Language -->
        <li>
          <a href="#" class="sub-toggle">
            <i class="fa fa-globe"></i>
            {{ tr.get('language') }} <b class="caret"></b>
          </a>
          <ul class="sub">
            <li>
              <a href="#lang/change/it">
                <i class="fa fa-arrow-circle-o-right"></i> Italiano
              </a>
            </li>
            <li>
              <a href="#lang/change/en">
                <i class="fa fa-arrow-circle-o-right"></i> English
              </a>
            </li>
          </ul>
        </li>

        <!-- Config -->
        <li>
          <a href="#" class="sub-toggle">
            <i class="fa fa-sliders"></i>
            {{ tr.get('cfg_editor') }} <b class="caret"></b>
          </a>
          <ul class="sub">
            <li>
              <a href="#sys_translate/showList/front">
                <i class="fa fa-random"></i>
                {{ tr.get('front_translate') }}
              </a>
            </li>
            <li>
              <a href="#cfg/edit">
                <i class="fa fa-sliders"></i>
                {{ tr.get('cfg_editor') }}
              </a>
            </li>
            {% if is_admin %}
            <li>
              <a href="#template/dashboard">
                <i class="fa fa-pencil-square-o"></i>
                {{ tr.get('template_mng') }}
              </a>
            </li>
            <li>
              <a href="#sys_translate/showList/admin">
                <i class="fa fa-random"></i>
                {{ tr.get('sys_translate') }}
              </a>
            </li>
            {% endif %}
            <li>
              <a href="#update/main">
                <i class="fa fa-cloud-download"></i>
                {{ tr.get('auto_updates') }}
              </a>
            </li>
            <li>
              <a href="#backup/listAll">
                <i class="fa fa-download"></i>
                {{ tr.get('backup_restore_db') }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Other -->
        <li>
          <a href="#" class="sub-toggle">
            <i class="fa fa-cog"></i>
            {{ tr.get('other') }} <b class="caret"></b>
          </a>
          <ul class="sub">
            <li>
              <a href="#changelog/show">
                <i class="fa fa-file-text-o"></i>
                {{ tr.get('changelog') }}
              </a>
            </li>
            <li>
              <a href="#error_log/show">
                <i class="fa fa-bug"></i>
                {{ tr.get('error_log') }}
              </a>
            </li>
            <li>
              <a href="./" target="_blank">
                <i class="fa fa-desktop big"></i>
                {{ tr.get('view_site') }}
              </a>
            </li>
            <li>
              <a href="./admin">
                <i class="fa fa-refresh"></i>
                {{ tr.get('reload') }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Docs -->
        <li>
          <a href="#docs/read/readme">
            <i class="fa fa-book"></i>
            {{ tr.get('docs') }}
          </a>
        </li>

        <!-- Exit -->
        <li>
          <a href="#log/out">
            <i class="fa fa-sign-out big"></i>
            {{ tr.get('logout') }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="content" class="content">
    <div class="container">

    <div class="tabbable">

        <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
          <li class="active"><a href="#home">Welcome</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="row">
              <div class="col-md-8">
                {% if welcome %}

                  {{ welcome|raw }}

                {% else %}

                <div class="jumbotron">
                  <h1>BraDyCMS</h1>
                  <p>is an</p>
                  <ul>
                    <li>open source</li>
                    <li>highly customizable</li>
                    <li>easy to setup</li>
                    <li>easy to use</li>
                    <li>design oriented</li>
                  </ul>
                  <p>Content Managing System, written in Object Oriented PHP and
                    Javascript, for creating beautiful and fully responsive websites.</p>
                  <p>Want to contribute? Fork it on <a href="https://github.com/jbogdani/BraDyCMS" target="_blank">GitHub</a></p>
                </div>
                {% endif %}
              </div>

              <div class="col-md-4">
                <img src="http://www.gravatar.com/avatar/{{ gravatar}}" alt="{{ user }}" class="pull-right img-responsive img-circle" />
                <p>Welcome <big>{{ user }}</big> to</p>
                  <h3 class="media-heading">BraDyCMS</h3>


                <div class="media-body">
                  <p class="lead">is an open source project available for fork and/or download on <a href="https://github.com/jbogdani/BraDyCMS" target="_blank">GitHub</a></p>
                  <p><a href="https://github.com/jbogdani/BraDyCMS/archive/master.zip" target="_blank">Download latest build</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/ #content -->

  <footer class="footer">
    <h4>by BraDypUS <small>COMMUNICATING CULTURAL HERITAGE</small></h4>
    <p>BraDyCMS [v. {{ version }}] is an open source
      (<a href="http://opensource.org/licenses/MIT" target="_blank" >MIT license</a>)
      project available for download on
      <a href="https://github.com/jbogdani/BraDyCMS" target="_blank">Github</a></p>
  </footer>
</div>
{% endblock %}
