<div id="wrapper">
  <div class="topbar">
    <div class="pull-left">
      <a id="navigation" class="toggleMenu" href="#"><i class="icon ion-navicon"></i> bdus.CMS</a>
    </div>
    <div class="pull-right">
      <ul class="shorthands">
        <li><a href="#article/all" title="{{ tr.get('show_all_articles') }}" 
             data-toggle="tooltip" data-placement="bottom">
            <i class="icon big ion-ios7-eye-outline"></i>
          </a></li>
        <li><a href="#article/addNew" title="{{ tr.get('add_new_article') }}" 
               data-toggle="tooltip" data-placement="bottom">
            <i class="icon big ion-ios7-plus-outline"></i>
          </a></li>
        <li><a href="#menu/all" title="{{ tr.get('show_all_menus') }}" 
               data-toggle="tooltip" data-placement="bottom">
            <i class="icon big ion-navicon"></i>
          </a></li>
        <li><a href="#media/all" title="{{ tr.get('media') }}" 
               data-toggle="tooltip" data-placement="bottom">
            <i class="icon big ion-ios7-photos-outline"></i>
          </a></li>
        <li><a href="./" target="_blank" title="{{ tr.get('view_site') }}" 
               data-toggle="tooltip" data-placement="bottom">
            <i class="icon big ion-ios7-monitor-outline"></i>
          </a></li>
        <li><a href="#docs/read/index" title="{{ tr.get('docs') }}" 
               data-toggle="tooltip" data-placement="bottom">
            <i class="icon big ion-ios7-information-outline"></i></a>
            
        <li><a href="#log/out" title="{{ tr.get('logout') }}"
               data-toggle="tooltip" data-placement="bottom">
            <i class="icon big ion-log-out"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  
  <div id="menu" >
    <div class="menu-content">
      <ul class="main-menu">
        <li>
          <a href="#" class="sub-toggle"><i class="icon big ion-ios7-compose-outline"></i> {{ tr.get('articles') }} <b class="caret"></b></a>
          <ul class="sub">
            <li><a href="#article/addNew"><i class="icon big ion-ios7-plus-outline"></i> {{ tr.get('add_new_article') }}</a></li>
            <li><a href="#article/all"><i class="icon big ion-ios7-eye-outline"></i> {{ tr.get('show_all_articles') }}</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="sub-toggle"><i class="icon big ion-navicon"></i> {{ tr.get('menu') }} <b class="caret"></b></a>
          <ul class="sub">
            <li><a href="#menu/addNew"><i class="icon big ion-ios7-plus-outline"></i> {{ tr.get('add_new_menu_item') }}</a></li>
            <li><a href="#menu/all"><i class="icon big ion-ios7-eye-outline"></i> {{ tr.get('show_all_menus') }}</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="sub-toggle"><i class="icon big ion-ios7-camera-outline"></i> {{ tr.get('media') }} <b class="caret"></b></a>
          <ul class="sub">
            <li><a href="#media/all"><i class="icon big ion-image"></i> {{ tr.get('media') }}</a></li>
            <li><a href="#galleries/all"><i class="icon big ion-images"></i> {{ tr.get('galleries') }}</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="sub-toggle"><i class="icon big ion-pull-request"></i> {{ tr.get('plugins') }} <b class="caret"></b></a>
          <ul class="sub">
              <li><a href="#userform/view"><i class="icon big ion-clipboard"></i> {{ tr.get('user_forms') }}</a></li>
              <li><a href="#usermap/view"><i class="icon big ion-map"></i> {{ tr.get('user_maps') }}</a></li>
              <li><a href="#downloads/all"><i class="icon big ion-ios7-cloud-download-outline"></i> {{ tr.get('downloads') }}</a></li>

            {% for mod in custom_mods %}
              <li><a href="./admin#plugins/run/{{ mod }}"><i class="icon big ion-wand"></i> {{ tr.get(mod) }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li>
          <a href="#" class="sub-toggle"><i class="icon big ion-earth"></i> {{ tr.get('language') }} <b class="caret"></b></a>
          <ul class="sub">
            <li><a href="#lang/change/it"><i class="icon big ion-ios7-arrow-thin-right"></i> Italiano</a></li>
            <li><a href="#lang/change/en"><i class="icon big ion-ios7-arrow-thin-right"></i> English</a></li>
            <li><a href="#lang/change/el"><i class="icon big ion-ios7-arrow-thin-right"></i> Ελληνικά</a></li>
          </ul>
        </li>
        
        <li>
          <a href="#" class="sub-toggle"><i class="icon big ion-settings"></i> {{ tr.get('cfg_editor') }}</a>
          <ul class="sub">
            <li><a href="#sys_translate/showList/front"><i class="icon big ion-shuffle"></i> {{ tr.get('front_translate') }}</a></li>
            <li><a href="#cfg/edit"><i class="icon big ion-wrench"></i> {{ tr.get('cfg_editor') }}</a></li>
            {% if is_admin %}
            <li><a href="#template/dashboard"><i class="icon big ion-compose"></i> {{ tr.get('template_mng') }}</a></li>
            <li><a href="#sys_translate/showList/admin"><i class="icon big ion-shuffle"></i> {{ tr.get('sys_translate') }}</a></li>
            {% endif %}
            <li><a href="#update/main"><i class="icon big ion-ios7-cloud-download-outline"></i> {{ tr.get('auto_updates') }}</a></li>
            
            <li><a href="#backup/listAll"><i class="icon big ion-ios7-download-outline"></i> {{ tr.get('backup_restore_db') }}</a></li>
          </ul>
        </li>


        <li>
          <a href="#" class="sub-toggle"><i class="icon big ion-ios7-gear-outline"></i> {{ tr.get('other') }} <b class="caret"></b></a>
          <ul class="sub">
            <li><a href="#changelog/show"><i class="icon big ion-document-text"></i> {{ tr.get('changelog') }}</a></li>
            <li><a href="#error_log/show"><i class="icon big ion-bug"></i> {{ tr.get('error_log') }}</a></li>
            <li><a href="./" target="_blank"><i class="icon big ion-ios7-monitor-outline"></i> {{ tr.get('view_site') }}</a></li>
            <li><a href="./admin"><i class="icon big ion-ios7-reload"></i> {{ tr.get('reload') }}</a></li>
          </ul>

        </li>

        <li>
          <a href="#docs/read/index"><i class="icon big ion-help-buoy"></i> {{ tr.get('docs') }}</a>
        </li>


        <li><a href="#log/out"><i class="icon big ion-log-out"></i> {{ tr.get('logout') }}</a></li>
      </ul>
    </div>
  </div>
        
  <div id="content" class="content">
    <div class="container">
    
    <div class="tabbable">

        <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
          <li class="active"><a href="#home">Welcome</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="row">
              <div class="col-md-8">
                {% if welcome %}

                  {{ welcome|raw }}

                {% else %}

                <div class="jumbotron">
                  <h1>BraDyCMS</h1>
                  <p>is an</p>
                  <ul>
                    <li>open source</li>
                    <li>highly customizable</li>
                    <li>easy to setup</li>
                    <li>easy to use</li>
                    <li>design oriented</li>
                  </ul>
                  <p>Content Managing System, written in Object Oriented PHP and 
                    Javascript, for creating beautiful and fully responsive websites.</p>
                  <p>Want to contribute? Fork it on <a href="https://github.com/jbogdani/BraDyCMS" target="_blank">GitHub</a></p>
                </div>
                {% endif %}
              </div>

              <div class="col-md-4">
                <img src="http://www.gravatar.com/avatar/{{ gravatar}}" alt="{{ user }}" class="pull-right img-responsive" />
                <p>Welcome <big>{{ user }}</big> to</p>
                  <h3 class="media-heading">BraDyCMS</h3>


                <div class="media-body">
                  <p class="lead">is an open source project available for fork and/or download on <a href="https://github.com/jbogdani/BraDyCMS" target="_blank">GitHub</a></p>
                  <p><a href="https://github.com/jbogdani/BraDyCMS/archive/master.zip" target="_blank">Download latest build</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/ #content -->
  
  <footer class="footer">
    <h4>by BraDypUS <small>COMMUNICATING CULTURAL HERITAGE</small></h4>
    <p>BraDyCMS [v. {{ version }}] is an open source 
      (<a href="http://opensource.org/licenses/MIT" target="_blank" >MIT license</a>) 
      project available for download on
      <a href="https://github.com/jbogdani/BraDyCMS" target="_blank">Github</a></p>
  </footer>
</div>
		

