{# 
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

{% extends "admin.twig" %}

{% block content %}

<div class="container">
  <div style="text-align:center; display:none;" class="alert alert-danger alert-dismissable" id="logerror">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="text"></div>
  </div>

  <form class="form-signin" id="signin" action="javascript:void(0);">
    <input type="hidden" value="{{ token }}" name="token" />
    <h2 class="text-muted">BDUS.CMS <small>[v{{ version }}]</small></h2>
    <h2 class="form-signin-heading">{{ tr.get('please_sign_in') }}</h2>

    <div class="form-group">
      <input type="email" class="form-control" placeholder="{{ tr.get('email_address') }}" name="username">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="{{ tr.get('password') }}" name="password">
    </div>

    {% if grc_sitekey %}
    <div class="g-recaptcha" data-sitekey="{{ grc_sitekey }}"></div>
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block"
        id="login-button"
        {% if grc_sitekey %}
        disabled
        {% endif %}
        type="submit"
        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading...."
        onclick="$(this).button('loading');">
      <i class="fa fa-unlock-alt"></i> {{ tr.get('sign_in') }}
    </button>
  </form>
</div>
{% endblock %}


{% block scripts %}

{% if grc_sitekey %}
<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit" async defer></script>
<script type="text/javascript">
if (typeof recaptchaCallback !== 'function') {
  var called = false;
  function recaptchaCallback(){
    if (called) return;
    $('.g-recaptcha').each(function(i, el){
      grecaptcha.render(el, {
        {% if lang %}'hl':'{{ lang }}',{% endif %} 
        'callback': function(response) {
          if (response.length > 0){
            $('#login-button').prop('disabled', false);
          }
        }
      });
    });
    called = true;
  }
}
</script>
{% endif %}
<script>
  $('#signin').on('submit', function(){
    $('#logerror').hide();
    $.post('controller/?obj=log_ctrl&method=in', $(this).serialize(), function(data){
    if (data.status === 'success'){
        location.reload();
        $(window).trigger('hashchange');
        return false;
      } else {
{% if grc_sitekey %}
        grecaptcha.reset();
{% endif %}
        $('#logerror .text').html(data.text);
        $('#logerror').show();
        $('#login-button').button('reset');
      }
    }, 'json');
  });
</script>
{% endblock %}
