{#  
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<div id="{{ uid }}">
  <h2>{{ tr.get('edit_download_node') }}: {{ node }}</h2>

  <div class="btn-group" style="padding:20px 0;">
    {% if files|length == 0 %}
      <button class="btn btn-danger delete-node" type="button">{{ tr.get('delete_download_node') }}</button>
    {% endif %}
    <a class="btn btn-default reload" onclick="admin.tabs.reloadThis(this);" title="{{ tr.get('reload') }}"><i class="fa fa-refresh"></i> {{ tr.get('reload') }}</a>
    {% for lng in langs %}
    <a class="btn btn-default" href="#downloads/edit/{{ node }}/{{ lng.id }}" title="{{ tr.sget('translation_in_lang', [lng.string|capitalize]) }}"><i class="fa fa-random"></i> {{ tr.sget('translation_in_lang', [lng.string|capitalize]) }}</a>
    {% endfor %}
  </div>

  <div class="well well-sm">
    <div class="uploader"></div>
  </div>


  <div class="row">
    {% if files|length > 0 %}
      <form action="javascript:void(0)" id="form{{ uid }}">

        {% for file in files %}

          <div class="row {% if loop.index is divisible by (2) %} well well-small {% endif %} listitem">

            <div class="col-xs-4">
              <h4>{{ file.name }}</h4>
              <p>
                <a
                  href="{{ file.fullpath }}"
                  class="btn btn-info"
                  target="_blank">
                  <i class="fa fa-archive"></i> {{ tr.get('open_download') }}
                </a>
              </p>
              <p>
                <button
                  type="button"
                  class="btn btn-danger delete"
                  data-file="{{ file.name }}">
                  <i class="fa fa-trash"></i> {{ tr.get('delete') }}
                </button>
              </p>
            </div>

            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-9">
                  <div class="form-group">
                    <label>{{ tr.get('title') }}</label>
                    <input
                      class="form-control"
                      type="text"
                      data-file="{{ file.name }}"
                      name="{{ file.formattedName }}[title]"
                      value="{{ file.title }}"
                      />
                  </div>
                </div>

                <div class="col-xs-3">
                  <div class="form-group">
                    <label>{{ tr.get('sorting') }}</label>
                    <input
                      class="form-control"
                      type="text"
                      data-file="{{ file.name }}"
                      name="{{ file.formattedName }}[sort]"
                      value="{{ file.sort }}"
                      />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>{{ tr.get('description') }}</label>
                <textarea
                  data-file="{{ file.name }}"
                  class="col-md-12 form-control"
                  style="height:150px"
                  name="{{ file.formattedName }}[description]"
                  >{{ file.description }}</textarea>
              </div>

              <p>
                <button
                  type="sumbit"
                  class="btn btn-success save"
                  data-file="{{ file.name }}"><i class="fa fa-check"></i> {{ tr.get('save') }}</button>
              </p>
            </div>

            <div class="col-xs-2">
              <label>{{ tr.get('cover') }}</label>

              {% if file.cover %}
                <img src="{{ file.cover }}?{{ uid }}" class="img-responsive">
                <button
                  type="button"
                  class="delete-cover btn btn-danger btn-block"
                  data-file="{{ file.cover }}">
                  {{ tr.get('delete') }}
                </button>
              {% else %}
                <div
                  data-file="{{ file.name }}"
                  class="cover-uploader"></div>
              {% endif %}

            </div>

          </div>
        {% endfor %}
      </form>
    {% endif %}
  </div>
</div>

<script>

  $('.delete-cover').on('click', function(){
    var file = $(this).data('file'),
      form = $(this).parents('form');

    $.get('controller/?obj=downloads_ctrl' +
            '&method=deleteCover' +
            '&param[file]=' + file,
            function(data){
              if (data.status === 'success'){
                form.submit();
                admin.tabs.reloadThis('#{{ uid }}');
              }
          }, 'json');
  });

  $('.cover-uploader').each(function(i, el){
    var file = $(el).data('file'),
      form = $(el).parents('form');

    admin.upload(el,
      'controller/?obj=utils&method=upload&param[]={{ tmp_path }}&param[]=sanitize',
      {
        allowedExtensions: ['jpg'],
        loaded: function(id, filename, responseJSON){
          $.get('controller/?obj=downloads_ctrl' +
            '&method=addCover' +
            '&param[path]={{ upload_dir }}' +
            '&param[refFile]=' + file +
            '&param[tmpFile]=' + responseJSON.filename + '.' + responseJSON.ext,
            function(data){
              if (data.status === 'success'){
                form.submit();
                admin.tabs.reloadThis('#{{ uid }}');
              }
          }, 'json');
        }
      });
  });

  admin.upload(
    $('#{{ uid }} div.uploader')[0],
      'controller/?obj=utils&method=upload&param[]={{ upload_dir }}&param[]=sanitize',
      {
        allLoaded: function(){
          admin.tabs.reloadThis('#{{ uid }}');
        }
      }
      );


  $('#form{{ uid }}').on('submit', function(){
    $.post(
      'controller/?obj=downloads_ctrl&method=saveData&param[]={{ upload_dir }}{% if translation %}&param[]={{ translation }}{% endif %}',
      $('#form{{ uid }}').serializeArray(), function(data){
        admin.message(data.text, data.status);
      },
      'json');
  });

  $('#{{ uid }} button.delete').on('click', function(){
    $this = $(this);
    $.get('controller/?obj=downloads_ctrl&method=deleteFile&param[]={{ upload_dir }}&param[]=' + $(this).data('file'), function(data){
      admin.message(data.text, data.status);

      if (data.status !== 'error'){
        if ($this.parents('div.listitem').siblings().length > 0){
          $this.parents('div.listitem').remove();
        } else {
          admin.tabs.reloadThis('#{{ uid }}');
        }
      }
    }, 'json');
  });


  $('#{{ uid }} .delete-node').on('click', function(){
    $.get('controller/?obj=downloads_ctrl&method=deleteNode&param[]={{ upload_dir }}', function(data){
      admin.message(data.text, data.status);

      if (data.status == 'success'){
        admin.tabs.closeActive();
      }
    }, 'json');
  });

</script>
