{#  
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<div id="{{ uid }}">
  <form action="javascript:void(0);" class="seo">

    <input type="hidden" name="id" value="{{ data.id }}" />

    <div class="form-group">
      <label>{{ tr.get('url') }}</label>
      <input type="text" name="url" {% if data.url %} readonly="readonly" {% endif %} value="{{ data.url }}" />
    </div>

    {% if lng %}
    <div class="form-group">
      <label>{{ tr.get('language') }}</label>
      <input type="text" name="lang" readonly="readonly" value="{{ lng }}" />
    </div>
    {% endif %}

    <div class="form-group">
      <label>{{ tr.get('title') }}</label>
      <input type="text" name="title" value="{{ data.title }}" />
    </div>

    <div class="form-group">
      <label>{{ tr.get('description') }}</label>
      <textarea name="description">{{ data.description }}</textarea>
    </div>

    <div class="form-group">
      <label>{{ tr.get('keywords') }}</label>
      <input type="text" name="keywords" value="{{ data.keywords }}" />
    </div>

    <button type="submit" style="display: none;"></button>

  </form>

</div>

<script>
$('#{{ uid }} form.seo').on('submit', function(){
  Seo.saveData();
});
</script>
