{#  
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<form class="form-horizontal" action="javascript:void(0);" id="form-{{ uid }}">

  <p class="lead">{{ tr.get('cfg-site_metadata') }}</p>

  <!-- NAME -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-name') }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" value="{{ data.name }}" name="name">
    </div>
    <div class="col-sm-5">
       <span class="text-muted">Site's short name.</span>
    </div>
  </div>


  <!-- MISSION -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-mission') }}</label>
    <div class="col-sm-5">
      <textarea name="mission" class="form-control">{{ data.mission }}</textarea>
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Site's mission.</span>
    </div>
  </div>


  <!-- TITLE -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-title') }}</label>
    <div class="col-sm-5">
      <textarea name="title" class="form-control">{{ data.title }}</textarea>
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Site's pages default title</span>
    </div>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-description') }}</label>
    <div class="col-sm-5">
      <textarea name="description" class="form-control">{{ data.description }}</textarea>
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Site's pages default description</span>
    </div>
  </div>


  <!-- KEYWORDS -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-keywords') }}</label>
    <div class="col-sm-5">
      <textarea name="keywords" class="form-control">{{ data.keywords }}</textarea>
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Site's pages default comma separated keywords</span>
    </div>
  </div>

    <!-- SYS_LANG -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-sys_lang') }}</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" value="{{ data.sys_lang }}" name="sys_lang" maxlength="2">
    </div>
    <div class="col-sm-8">
      <span class="text-muted">Two digits main language id, eg. en. Actually the
        following languages are supported: it, en, es, fr, ar, de, al. If you
        plan to support any language different from these please you should edit
        also the main .htaccess file!</span>
    </div>
  </div>

  <!-- SYS_LANG_STRING -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-sys_lang_string') }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" value="{{ data.sys_lang_string }}" name="sys_lang_string">
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Main language name. Please enter only lower case digits.</span>
    </div>
  </div>

  <hr>

  <p class="lead">{{ tr.get('cfg-server_settings') }}</p>
  <hr>

  <!-- ROBOTS -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-robots') }}</label>
    <div class="col-sm-3">
      <select name="robots" class="form-control">
        <option></option>
        {% for val in ['index, follow', 'noindex, follow', 'index, nofollow', 'noindex, nofollow'] %}
          <option value="{{ val }}" {% if val == data.robots %}selected="selected"{% endif %}>{{ val }}</option>
        {% endfor %}

      </select>
    </div>
    <div class="col-sm-7">
      <span class="text-muted">This is the global default value for <em>robots</em> meta tag (<a href="https://support.google.com/webmasters/answer/79812" target="_blank">more info</a>).</span>
    </div>
  </div>

  <!-- TIMEZONE -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-timezone') }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" value="{{ data.timezone }}" name="timezone">
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Please enter a  valid timezone. Supported timezones:
        <a href="http://php.net/manual/en/timezones.php" target="_blank">http://php.net/manual/en/timezones.php</a> </span>
    </div>
  </div>

  <!-- enable www -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-enableWWW') }}</label>
    <div class="col-sm-5">
      <select name="enableWWW" class="form-control">
        <option value="1" {% if data.enableWWW %} selected="selected"{% endif %}>{{ tr.get('on') }}</option>
        <option value="0" {% if data.enableWWW == false %} selected="selected"{% endif %}>{{ tr.get('off') }}</option>
      </select>
    </div>
    <div class="col-sm-5">
      <span class="text-muted">By default BraDyCMS will redirect third level domain
        www.* main level domain, removing www. If this option is enabled you can
        use <code>www</code> in the domain name.</span>
    </div>
  </div>

  <!-- MORE .htaccess Directives -->
  <!-- moreHtaccessDirectives -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-moreHtaccessDirectives') }}</label>
    <div class="col-sm-5">
      <textarea name="moreHtaccessDirectives" class="form-control" style="height:70px">{% if data.moreHtaccessDirectives %}{{ data.moreHtaccessDirectives }}{% endif %}</textarea>
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Enter here additional htaccess directives. These directives
      will be automatically appended at the end of the .htaccess file after each system update.
      If you need to enter more then one directive, please place each directive in a new line.</span>
    </div>
  </div>

  <hr>
  <p class="lead">{{ tr.get('cfg-db_settings') }}</p>

  <!-- DB_CONNECTION -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-db_connection') }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" value="{{ data.db_connection }}" name="db_connection">
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Database full DNS (eg.:
        mysql:host=localhost;dbname=bduscms). Leave blank if you are using the
        default SQLITE database. </span>
    </div>
  </div>

  <!-- DB_USER -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-db_user') }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" value="{{ data.db_user }}" name="db_user">
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Database username. Leave blank if you are using
        the default SQLITE database. </span>
    </div>
  </div>

  <!-- DB_PASS -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-db_pass') }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" value="{{ data.db_pass }}" name="db_pass">
    </div>
    <div class="col-sm-5">
      <span class="text-muted">Database password. Leave blank if you are using
        the default SQLITE database. </span>
    </div>
  </div>

  <hr>
  <p class="lead">{{ tr.get('cfg-dev_settings') }}</p>

  <!-- DEBUG -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-debug') }}</label>
    <div class="col-sm-2">
      <select name="debug" class="form-control">
        <option value="1" {% if data.debug %} selected="selected"{% endif %}>{{ tr.get('on') }}</option>
        <option value="0" {% if data.debug == false %} selected="selected"{% endif %}>{{ tr.get('off') }}</option>
      </select>
    </div>
    <div class="col-sm-8">
      <span class="text-muted">If you turn off debug mode remember to clear the application cache (see below).</span>
    </div>
  </div>

  <!-- UPDATE CHANNEL -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-update_channel') }}</label>
    <div class="col-sm-6">
      <select name="updatechannel" class="form-control">
        <option value="master" {% if data.updatechannel == 'master' or data.updatechannel ==false %} selected="selected"{% endif %}>
          MASTER (https://github.com/jbogdani/BraDyCMS)
        </option>
        <option value="dev" {% if data.updatechannel == 'dev' %} selected="selected"{% endif %}>
          DEVELOPMENT (https://github.com/jbogdani/BraDyCMS/tree/dev)
        </option>
      </select>
    </div>
    <div class="col-sm-4">
      <span class="text-muted">For a stable use please use the MASTER branch. Use development branch on your own risk.</span>
    </div>
  </div>

  <!-- CDN -->
  <div class="form-group" {% if is_admin == false %}style="display:none"{% endif %}>
    <label class="control-label col-sm-2">{{ tr.get('cfg-cdn') }}</label>
    <div class="col-sm-2" class="form-control">
      <select name="cdn" class="form-control">
        <option value="1" {% if data.cdn %} selected="selected"{% endif %}>{{ tr.get('on') }}</option>
        <option value="0" {% if data.cdn == false %} selected="selected"{% endif %}>{{ tr.get('off') }}</option>
      </select>
    </div>
    <div class="col-sm-8">
      <span class="text-muted">If turned on CDN (where available) will be used to load
        third parties libraries (eg. jQuery, Twitter Bootstrap, etc).</span>
    </div>
  </div>

  <hr>

  <!-- IMAGE SETTINGS -->
  <p class="lead">{{ tr.get('cfg-img-settings') }}</p>

  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-constraint_img_dimensions') }}</label>
    <div class="col-sm-2">
      <input type ="text" class="form-control" name="max_img_size" value="{{ data.max_img_size }}">
    </div>
    <div class="col-sm-8">
      <span class="text-muted">If set all uploaded images will be (down-) scaled to fit this dimension</span>
    </div>
  </div>

  <hr>

  <!-- ART_IMG_DIMENSIONS -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-art_img_dimensions') }}</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" value="{{ art_img }}" name="art_img[]">
    </div>
    <div class="col-sm-8">
      <span class="text-muted">Check <a href="#docs/read/general">General concepts</a> to
        learn more about article images. Please enter here a valid format expressed in pixels
        ({width}x{height}, eg. 800x400). You can have many dimension steps.
        Just save the form to have a new blank field added.</span>
    </div>
  </div>
  {% if data.art_img|length > 0 %}
    {% for art_img in data.art_img %}
      <div class="form-group">
        <label class="control-label col-sm-2">{{ tr.get('cfg-art_img_dimensions') }}</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" value="{{ art_img }}" name="art_img[]">
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <hr>
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-img_manager') }}</label>
    <div class="col-sm-3">
      <select name="img_manager" class="form-control">
        {% for o in ['gd', 'imagick'] %}
        <option value="{{ o }}"{% if o == data.img_manager %} selected{% endif %}>{{ o }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-7">
      <span class="text-muted">This is the default php extension you are planning
        to use as main image manipulation software. It will be used for all
        thumbnail creation and other image manupulation functions.<br>
        At present <a href="http://php.net/manual/en/book.image.php" target="_blank">gd</a>
        and <a href="http://php.net/manual/en/book.imagick.php" target="_blank">imagick</a>
        are available.<br>
        You should check with your sysadmin which extension is available in your hosting plan.</span>
    </div>
  </div>

  <hr>

  <!-- ACTIVATE PAGINATION -->
  <p class="lead">{{ tr.get('cfg-pagination') }}</p>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <input type ="text" class="form-control" name="pagination" value="{{ data.pagination }}">
    </div>
    <div class="col-sm-8">
      <span class="text-muted">Enter here the maximum number of articles you
        want to show in a single page. If empty the pagination will be disabled</span>
    </div>
  </div>


  <!-- GA ReCAPTCHA -->
  <hr>
  <p class="lead">{{ tr.get('cfg-grc') }}</p>

  <!-- Site key -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-grc-sitekey') }}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" value="{{ data.grc_sitekey }}" name="grc_sitekey">
    </div>
    <div class="col-sm-6">
      <span class="text-muted">Your Google reCAPTCHA Site (public) key</span>
    </div>
  </div>

  <!-- Secret Key -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-grc-secretkey') }}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" value="{{ data.grc_secretkey }}" name="grc_secretkey">
    </div>
    <div class="col-sm-6">
      <span class="text-muted">Your Google reCAPTCHA Secret (private) key</span>
    </div>
  </div>

  <!-- GA_ID -->
  <hr>
  <p class="lead">{{ tr.get('cfg-ga') }}</p>

  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-ga_id') }}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" value="{{ data.ga_id }}" name="ga_id">
    </div>
    <div class="col-sm-6">
      <span class="text-muted">Your Google Analytics CODE ID</span>
    </div>
  </div>

  <!-- GA_DOMAIN -->
  <div class="form-group">
    <label class="control-label col-sm-2">{{ tr.get('cfg-ga_domain') }}</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" value="{{ data.ga_domain }}" name="ga_domain">
    </div>
    <div class="col-sm-6">
      <span class="text-muted">If you enter here a domain (yourdomain.ext) the Google analytics code will be shown only if domain matches. This is very usefull if you have a localhost copy of your website and you do not want to update your analytics from localhost domain.</span>
    </div>
  </div>

  <!-- LANGUAGES -->
  <hr>
  <p class="lead">{{ tr.get('cfg-languages') }}</p>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-2"><label>{{ tr.get('cfg-lang_id') }}</label></div>
    <div class="col-sm-4"><label>{{ tr.get('cfg-lang_name') }}</label></div>
    <div class="col-sm-2"><label>{{ tr.get('cfg-lang_published') }}</label></div>
  </div>

  <!-- LANGUAGES -->
  {% for lang in data.languages %}
  <div class="form-group">
      <div class="col-sm-2 col-sm-offset-2">
        <input type="text" class="form-control" value="{{ lang.id }}" maxlength="2" name="languages[{{ loop.index0 }}][id]">
      </div>

      <div class="col-sm-4">
        <input type="text" class="form-control" value="{{ lang.string }}" name="languages[{{ loop.index0 }}][string]">
      </div>

      <div class="col-sm-2">
        <select name="languages[{{ loop.index0 }}][published]" class="form-control">
          <option></option>
          <option{% if lang.published %} selected="selected "{% endif %}>1</option>
        </select>
      </div>
  </div>
  {% endfor %}

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <input type="text" class="form-control" maxlength="2" name="languages[{{ data.languages|length }}][id]">
    </div>

    <div class="col-sm-4">
      <input type="text" class="form-control" name="languages[{{ data.languages|length }}][string]">
    </div>

    <div class="col-sm-2">
      <select class="form-control" name="languages[{{ data.languages|length }}][published]">
        <option></option>
        <option>1</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <span class="text-muted">Use the fields above to add new languages
          to your site. For each language please provide a two-digits code
          and a lower-case language name.<br>Actually the following languages
          are supported: it, en, es, fr, ar, de, al. If you plan to support
          any language different from these please you should edit also the
          main .htaccess file!. If the "is published" flag is turned to "on"
          the language will be available in main site language menu.<br>
          You can have many languages. Just save the form to have a new
          blank row added.</span>
    </div>
  </div>



  <!-- CUSTOM_FIELDS -->
  <div {% if is_admin == false %}style="display:none"{% endif %}>
    <hr>
    <p class="lead">{{ tr.get('custom_fields') }}</p>


    <div class="form-group">
      <div class="col-sm-2"><label>{{ tr.get('cfg-fld_name') }}</label></div>
      <div class="col-sm-2"><label>{{ tr.get('cfg-type') }}</label></div>
      <div class="col-sm-2"><label>{{ tr.get('cfg-label') }}</label></div>
      <div class="col-sm-4"><label>{{ tr.get('cfg-values') }}</label></div>
      <div class="col-sm-1"><label>{{ tr.get('cfg-translate') }}</label></div>
      <div class="col-sm-1"><label>{{ tr.get('cfg-richtext') }}</label></div>
    </div>

    {% for fld in data.custom_fields %}
    <div class="form-group">
      <div class="col-sm-2">
        <input type="text" class="form-control" value="{{ fld.name }}" name="custom_fields[{{ loop.index0 }}][name]">
      </div>

      <div class="col-sm-2">
        <select class="form-control" name="custom_fields[{{ loop.index0 }}][type]">
          <option>aaa</option>
          <option{% if fld.type == 'input' or fdl.type == false %} selected="selected"{% endif %}>input</option>
          <option{% if fld.type == 'longtext'%} selected="selected"{% endif %}>longtext</option>
          <option{% if fld.type == 'select'%} selected="selected"{% endif %}>select</option>
        </select>
      </div>

      <div class="col-sm-2">
        <input type="text" class="form-control" value="{{ fld.label }}" name="custom_fields[{{ loop.index0 }}][label]">
      </div>

      <div class="col-sm-4">
        <input type="text" class="form-control" value="{{ fld.values }}" name="custom_fields[{{ loop.index0 }}][values]">
      </div>

      <div class="col-sm-1">
        <select value="{{ fld.translate }}" name="custom_fields[{{ loop.index0 }}][translate]" class="form-control">
          <option value=""></option>
          <option value="1"{% if fld.translate %} selected="selected" {% endif %}>1</option>
        </select>
      </div>

      <div class="col-sm-1">
        <select value="{{ fld.richtext }}" name="custom_fields[{{ loop.index0 }}][richtext]" class="form-control">
          <option value=""></option>
          <option value="1"{% if fld.richtext %} selected="selected" {% endif %}>1</option>
        </select>
      </div>

    </div>
    {% endfor %}

    <div class="form-group">
      <div class="controls">
        <div class="col-sm-2">
          <input type="text" name="custom_fields[{{ data.custom_fields|length }}][name]" class="form-control">
        </div>

        <div class="col-sm-2">
          <select name="custom_fields[{{ data.custom_fields|length }}][type]" class="form-control">
            <option></option>
            <option>input</option>
            <option>longtext</option>
            <option>select</option>
          </select>
        </div>

        <div class="col-sm-2">
          <input type="text" name="custom_fields[{{ data.custom_fields|length }}][label]" class="form-control">
        </div>

        <div class="col-sm-4">
          <input type="text" name="custom_fields[{{ data.custom_fields|length }}][values]" class="form-control">
        </div>

        <div class="col-sm-1">
          <select value="{{ fld.translate }}" name="custom_fields[{{ data.custom_fields|length }}][translate]" class="form-control">
            <option value=""></option>
            <option value="1">1</option>
          </select>
        </div>

        <div class="col-sm-1">
          <select value="{{ fld.richtext }}" name="custom_fields[{{ data.custom_fields|length }}][richtext]" class="form-control">
            <option value=""></option>
            <option value="1">1</option>
          </select>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="text-muted">Use the fields above to add new custom fields to
        your articles. For each field please please provide a lower-case name,
        using no spaces, dashes, underscores or other special characters; a
        field type, a label, and eventually a default value.
        If you chose "select" as field type you should enter a comma separated
        list of values as default fields to use as select options.<br>
        <strong>Please remember</strong> that you should update the database
        manually to include the new fields.<br>
        <strong>Special fields</strong> The fieldname <code>customtitle</code>
        is a special field. If provided it's value will be used to throughout the
        website for the HTML <code>title</code> metatag output.<br>
        You can add many custom fields. Just save the form to have a new
        blank row added.</p>
    </div>
  </div>


  <!-- USERS -->
  <hr>
  <p class="lead">{{ tr.get('cfg-users') }}</p>

  <div class="row">
    <div class="col-sm-5 col-sm-offset-2">
      <label>{{ tr.get('email_address') }}</label>
    </div>

    <div class="col-sm-3">
      <label>{{ tr.get('encrypted_passw') }}</label>
    </div>
  </div>

  {% for user in data.users %}
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <input type="email" value="{{ user.name }}" name="users[{{ loop.index0 }}][name]" {% if user.admin and is_admin == false %} readonly="true" {% endif %} class="form-control">
    </div>
    <div class="col-sm-3">
      <input type="text" name="users[{{ loop.index0 }}][pwd]" value="{{ user.pwd }}" {% if user.admin and is_admin == false %} readonly="true" {% endif %} class="form-control">
    </div>

    <div class="col-sm-2" {% if is_admin == false %}style="display:none"{% endif %}>
      <select name="users[{{ loop.index0 }}][admin]" class="form-control">
        <option></option>
        <option{% if user.admin %} selected="selected"{% endif %}>admin</option>
      </select>
    </div>
  </div>
  {% endfor %}

  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <input type="email" name="users[{{ data.users|length }}][name]"  class="form-control">
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="pwd form-control" name="users[{{ data.users|length }}][pwd]">
        <span class="input-group-addon">
          <a title="Strong password example"
          target="_blank"
          href="http://passwordsgenerator.net/?length=8&symbols=1&numbers=1&lowercase=1&uppercase=1&similar=1&ambiguous=0&client=0&autoselect=1">
            <i class="fa fa-life-ring"></i>
          </a>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info encrypt"
              type="button"
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
        <i class="fa fa-locked"></i> {{ tr.get('one_way_encrypt_passw') }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span class="text-muted">Be sure to use the "encrypt password tool" before submitting a new user. Only system admins can grant admin privileges to other users.<br> You can add many users. Just save the form to have a new blank row added.</span>
    </div>
  </div>


  <hr>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-success btn-lg btn-block submit"
              type="submit"
              id="submit-{{ uid }}"
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
        <i class="fa fa-check-outline"></i> {{ tr.get('save') }}
      </button>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-warning btn-lg btn-block"
              type="button"
              id="trash-{{ uid }}"
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
        <i class="fa fa-trash-o"></i> {{ tr.get('empty_trash')}}
      </button>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-warning btn-lg btn-block"
              type="button"
              id="cache-{{ uid }}"
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
        <i class="fa fa-trash-o"></i> {{ tr.get('empty_cache')}}
      </button>
      <p class="text-muted">{{ tr.get('cache_help_text') }}</p>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-warning btn-lg btn-block"
              type="button"
              id="htaccess-{{ uid }}"
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
        <i class="fa fa-check-outline"></i> {{ tr.get('update_htaccess')}}
      </button>
      <p class="text-muted">If you have changed the relative path of the website
        you should update the .htaaccess file in order, otherwise you will experience
      problems in the URL and linking system</p>
    </div>

  </div>
</form>


<script>
$('#form-{{ uid }}').on('submit', function(){
  $('#submit-{{ uid }}').button('loading');
  $.post('controller.php?obj=cfg_ctrl&method=save', $(this).serialize(), function(data){
    admin.message(data.text, data.status);
    if(data.status === 'success'){
      admin.tabs.reloadThis('#form-{{ uid }}');
      $('#submit-{{ uid }}').button('reset');
    }
  }, 'json');
});

$('#form-{{ uid }} button.encrypt').on('click', function(){
  var button = $(this);
  button.button('loading')
  var pwd = button.parents('.form-group').find('input.pwd');

  if (!pwd.val()){
    admin.message('Please enter a password to encrypt!', 'error');
    pwd.focus();
  } else {
    $.post('controller.php?obj=log_ctrl&method=encodePwd&echo=true', {'password': pwd.val()}, function(data){
      button.button('reset');
      pwd.val(data);
    });
  }
});

$('#cache-{{ uid }}').on('click', function(){
  var btn = $(this);
  btn.button('loading');
  $.get('controller.php?obj=cfg_ctrl&method=empty_cache', function(data){
    admin.message(data.text, data.status);
    btn.button('reset');
  }, 'json');
});

$('#trash-{{ uid }}').on('click', function(){
  var btn = $(this);
  btn.button('loading');
  $.get('controller.php?obj=cfg_ctrl&method=empty_trash', function(data){
    admin.message(data.text, data.status);
    btn.button('reset');
  }, 'json');
});

$('#htaccess-{{ uid }}').on('click', function(){
  var btn = $(this);
  btn.button('loading');
  $.get('controller.php?obj=cfg_ctrl&method=update_htaccess', function(data){
    admin.message(data.text, data.status);
    btn.button('reset');
  }, 'json');
});

$('.delete-custom_field').on('click', function(){
  $(this).parents('div.controls').hide().find(':input').val('');
});
</script>
