<div id="{{ uid }}">
    
<h1>BraDyCMS custom tags</h1>

<p>BraDyCMS has support for many custom tags to be used in article's content and 
  in template files.</p>
<p>Custom tags allow adding usefull widgets in few lines or readable code.</p>
<p>Please refer to the follwing documentation for a complete list of available 
  custom tags and how to use.</p>
<p>Remember that you can extend this list by <a href="#docs/read/usermodule">creating 
    your own custom modules and tags</a></p>
<hr />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Tag name</th>
      <th>Tag content</th>
			<th>Parameters</th>
			<th>Description</th>
			<th>Example usage</th>
		</tr>
	</thead>
	
	<tbody>
		{% for el in ct %}
			<tr>
				<td>{{ el.tag }}</td>
        <td>{{ el.content }}</td>
				<td>
					{% for p, d in el.params %}
						- <strong>{{ p }}</strong>: {{ d }}<br />
					{% endfor %}
				</td>
				<td>{{ el.description }}</td>
				<td style="min-width:400px;">
          {% if el.min_example %}
            <p>Minimal example</p>
            <pre>{{ el.min_example }}</pre>
          {% endif %}
          {% if el.max_example %}
            <p>Complete example</p>
            <pre>{{ el.max_example }}</pre>
          {% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</div>

<script>
	window.prettyPrint && prettyPrint();
	
	$('#{{ uid }} table').dataTable({
	"iDisplayLength": 50,
	"bDestroy": true,
	"bSort": false,
});

$.each($('#{{ uid }} table tr'), function(i, el){
	$(el).find('td:first').css('font-weight', 'bold');
});
	
</script>