<h1>BraDyCMS template system docs</h1>

<p>BraDyCMS uses <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> for templating web sites.</p>
<p>Please refer to <a href="http://twig.sensiolabs.org/doc/templates.html" target="_blank">the official documenttation</a> for Twig usage.</p>
<p>Template file, located in <code>./sites/default/</code> folder receives one argument named <code>html</code>, instance of object <code>OutHtml</code>. It's available methods, and usage is documented beneath</p>
<p>For a fully working template example follow <a href="#docs/tmpl/example">this link</a></p>

<h2>class OutHtml</h2>
<p class="lead">OutHtml extends class Out and inherits all it's public methods. As a general rule methods of class Out return PHP strings and arrays and methods of OutHtml return well formatted HTML code.</p>

<p>To call public methods (listed beneath) in template files (<code>*.twig</code>) just use the following syntax: <code>{% raw %} {{ html.methodName }} {% endraw %}</code></p>

<p>For example: <code>{% raw %}{{ html.getContext }}{% endraw %}</code> will return the actual context, i.e. one of the strings <code>home</code>, <code>article</code>, <code>tags</code> or <code>search</code>.</p>

<hr />




<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-2">Method</th>
			<th class="col-md-2">Parameters</th>
			<th class="col-md-4">Return</th>
			<th class="col-md-6">Example</th>
		</tr>
	</thead>
	<tbody>
	
	
		<tr>
			<th>articleBody()</th>
			<td></td>
			<td>(string) Returns well-formatted html of article content.
			<p>This function will return false if context is not article!</p></td>
			<td>
				<code>{% raw %}{{ html.articleBody() }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;section&#62;
&#60;article&#62;
  &#60;h1&#62;Web design&#60;/h1&#62;
  &#60;div class="content"&#62;
    Some of our latest work on web design...
  &#60;/div&#62;
&#60;/article&#62;
&#60;/section&#62;
</pre>
			</td>
		</tr>
		
		
		<tr>
			<th>ct(method, json_object_params)</th>
			<td>(string) Returns html prodiced by custom tag or user module.</td>
			<td>
				<code>{% raw %}{{ html.ct('addThis', '{"content": "share"}') }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-4d8b051f4951c18f"&#62;share&#60;/a&#62;
&#60;script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d8b051f4951c18f"&#62;&#60;/script&#62;</pre>
			</td>
		</tr>
		
		
		<tr>
			<th>GA(id, restrict_domain)</th>
			<td><strong>id</strong>, (string, default false) Google Analytics ID. If false the site configuration setting will be used<br />
				<strong>restrict_domain</strong>, (string, default false) Domain resctriction policy. If false the site configuration setting will be used</td>
			<td>(string) Returns javascript code for Google Analytics Tracking.
			<p>If id or restriced domain are not provided, the configuration options will be used.</p>
			<p>If restricted domain is provided (as argument or in configuration file) the GA will be shown only if domain matches.</p>
			</td>
			<td>
				<code>{% raw %}{{ html.GA }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;script&#62;
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'GA-ID']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
&#60;/script&#62;
</pre>
			</td>
		</tr>
		
		<tr>
			<th>gallery(name, single_gallery, class)</th>
			<td><strong>name</strong>, (string) textual id of the gallery to show<br />
				<strong>single_gallery</strong>, (boolean, default false) if true all images will be part of the same gallery<br />
				<strong>class</strong>, (string, default false) css class to add to main unordered list (ul)</td>
			<td>(string) Returns HTML code with gallery data.</td>
			<td>
				<code>{% raw %}{{ html.gallery('news', true, 'latest') }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;div class="gallery-container"&#62;
  &#60;ul class="gallery news latest"&#62;
    &#60;li&#62;
      &#60;a href="./sites/default/images/galleries/news/01.jpg" class="fancybox" title="Figure 01 caption" rel="news" &#62;
        &#60;img src="./sites/default/images/galleries/news/thumbs/01.jpg" alt="Figure 01 caption" /&#62;
      &#60;/a&#62;
      &#60;div class="caption"&#62;Figure 01 caption&#60;/div&#62;
    &#60;/li&#62;

    &#60;li&#62;... &#60;/li&#62;
  
    ...
  &#60;/ul&#62;
&#60;/div&#62;
</pre>
			</td>
		</tr>
		
		
		
		<tr>
			<th>langMenu('flags', 'no_text')</th>
			<td><strong>flags</strong>, (boolean, default false) if true image flags will be shown<br />
				<strong>no_text</strong>, (boolean, default false) if true no language text will be shown</td>
			<td>(string) Returns well-formatted html of language menu
			<p>Current language's list item (li) has class <em>current</em></p></td>
			<td>
				<code>{% raw %}{{ html.langMenu(true) }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;ul class="menu lang"&#62;
  &#60;li class="current"&#62;
  	&#60;a href="/it" data-ajax="false"&#62;$360;img src="./img/flags/it.png"  alt="italiano" /&#62; Italiano&#60;/a&#62;
  &#60;/li&#62;
  &#60;li&#62;
  	&#60;a href="/en" data-ajax="false"&#62;$360;img src="./img/flags/en.png"  alt="english" /&#62; English&#60;/a&#62;
  &#60;/li&#62;
  &#60;li&#62;
  	&#60;a href="/fr" data-ajax="false"&#62;$360;img src="./img/flags/fr.png"  alt="français" /&#62; Français&#60;/a&#62;
  &#60;/li&#62;
</pre>
			</td>
		</tr>
		
		
		<tr>
			<th>menu('menuname', 'css_class_name')</th>
			<td><strong>menuname</strong>, (string) textual id of the menu to show<br />
				<strong>css_class_name</strong>, (string|false, default false) css class, or space-separated css classes of the menu's unordered list (ul)</td>
			<td>(string) Returns well-formatted html of menu items</td>
			<td>
				<code>{% raw %}{{ html.menu('main', 'nav') }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;ul class="menu nav"&#62;
  &#60;li class="menu-item"&#62;&#60;a href="#"&#62;Home&#60;/a&#62;&#60;/li&#62;
  &#60;li class="menu-item"&#62;&#60;a href="#"&#62;Who we are&#60;/a&#62;&#60;/li&#62;
  &#60;li class="menu-item dropdown"&#62;
     &#60;a href="#" class="dropdown-toggle" data-toggle="dropdown"&#62;Portfolio&#60;/a&#62; &#60;b class="caret"&#62;&#60;/b&#62;
   &#60;ul class="submenu dropdown-menu"&#62;
    &#60;li class="menu-item"&#62;&#60;a href="#"&#62;Web&#60;/a&#62;&#60;/li&#62;
    &#60;li class="menu-item"&#62;&#60;a href="#"&#62;Print&#60;/a&#62;&#60;/li&#62;
  &#60;/ul&#62;
  &#60;/li&#62;
  &#60;li class="menu-item"&#62;&#60;a href="#" target="_blank"&#62;@Twitter&#60;/a&#62;&#60;/li&#62;
 &#60;/ul&#62;</pre>
			</td>
		</tr>
		
		
		<tr>
			<th>metadata(no_og)</th>
			<td><strong>no_og</strong>: (boolean) if no_og parameters is true (default is false) the open graph metadata will not be shown</td>
			<td>(string) Returns well-formatted html code of page html and open graph metadata and links to feeds</td>
			<td>
				<code>{% raw %}{{ html.metadata() }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;title&#62;Home Page&#60;/title&#62;
&#60;meta name="description" content="Web sites main description" /&#62;
&#60;meta name="keywords" content="home, page, keyword1, keyword2" /&#62;
&#60;meta lang="en" /&#62;
&#60;!-- Open Graph metadata --&#62;
&#60;meta property="og:title" content="Home Page" /&#62;
&#60;meta property="og:description" content="Web sites main description" /&#62;
&#60;meta property="og:url" content="http://thishost/thispage" /&#62;
&#60;meta property="og:image" content="http://thishost/path_to_the_first_image_of_article_body_if_exist.extension" /&#62;

&#60;!-- Feed links --&#62;
&#60;link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/rss" /&#62;
&#60;link rel="alternate" type="application/atom" title="RSS" href="/feed/atom" /&#62;
</pre>
			</td>
		</tr>
		
		<tr>
			<th>metadata_dc()</th>
			<td></td>
			<td>(string) Returns well-formatted html code with Dublin Core html metadata.
				<p>Title, description, languale, identifier (url), subject (keywords) are the same as html &amp; og metadata</p>
				<p>Date is the publish date of the article</p>
				<p>publisher is the publsher name as defined in OAI module configuration</p>
			</td>
			<td>
				<code>{% raw %}{{ html.metadata_dc() }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;!-- Dublin Core metadata --&#62;
&#60;meta name="DC.type" content="Text" /&#62;
&#60;meta name="DC.format" content="text/html" /&#60;
&#60;meta name="DC.identifier" scheme="URI" content="http://thishost/thispage_url" /&#60;
&#60;meta name="DC.title" content="Home Page" /&#60;
&#60;meta name="DC.description" content="Web sites main description" /&#60;
&#60;meta name="DC.language" scheme="RFC3066" content="en" /&#60;
&#60;meta name="DC.creator" content="John Doe" /&#60;
&#60;meta name="DC.publisher" content="John Doe publishing" /&#60;
&#60;meta name="DC.subject" scheme="RFC3066" content="home, page, keyword1, keyword2" /&#60;
&#60;meta name="DC.date" scheme="W3CDTF" content="2013-04-17" /&#60;
</pre>
			</td>
		</tr>
		
		<tr>
			<th>searchForm()</th>
			<td></td>
			<td>(string) Returns well-formatted html of search form &nbsp; input
			<p>Form submission should be done with javascript:</p>
			<pre class="prettyprint">$('#searchForm').submit(function(){
  if($('#search').val() != '' ){
    window.location = './search:' + $('#search').val();
  }
});</pre></td>
			<td>
				<code>{% raw %}{{ html.searchForm() }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;form action="javascript:void(0);" id="searchForm"&#62;
  &#60;input class="search" type="search" placeholder="Search in web site" name="search" id="search" /&#62;
&#60;/form&#62;</pre>
			</td>
		</tr>
		
		<tr>
			<th>searchResults()</th>
			<td></td>
			<td>(string) Returns well-formatted html of list of articles found by search.
			<p>This function will return false if context is not search!</p></td>
			<td>
				<code>{% raw %}{{ html.searchResults() }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;h1&#62;10 articles found searching &#60;code&#62;web&#60;/code&#62;&#60;/h1&#62;
&#60;section class="blog search"&#62;
  &#60;article&#62;
    &#60;h3&#62;&#60;a href="/en/web-design"&#62;Web design&#60;/a&#62;&#60;/h3&#62;
    &#60;div class="content"&#62;
      Some of our latest work on web design...
    &#60;/div&#62;
    &#60;div class="read_more"&#62;
      &#60;a href="/en/web-design"&#62;Read more&#60;/a&#62;
    &#60;/div&#62;
  &#60;/article&#62;
  
  &#60;article&#62;
    ...
  &#60;/article&#62;
  
  ...
&#60;/section&#62;
</pre>
			</td>
		</tr>
		
		<tr>
			<th>tagBlog(tag1, tag2, ...)</th>
			<td><strong>tag1</strong>, (string|false, default false) Tag to search<br />
				...</td>
			<td>(string) Returns well-formatted html of list of articles found by tag search.
			<p>If multiple tags are searched AND statement will be applied</p></td>
			<td>
				<code>{% raw %}{{ html.tagBlog('web', 'latest') }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;section class="blog tags"&#62;
  &#60;article&#62;
    &#60;h3&#62;&#60;a href="/en/web-design"&#62;Web design&#60;/a&#62;&#60;/h3&#62;
    &#60;div class="content"&#62;
      Some of our latest work on web design...
    &#60;/div&#62;
    &#60;div class="read_more"&#62;
      &#60;a href="/en/web-design"&#62;Read more&#60;/a&#62;
    &#60;/div&#62;
  &#60;/article&#62;
  
  &#60;article&#62;
    ...
  &#60;/article&#62;
  
  ...
&#60;/section&#62;
</pre>
			</td>
		</tr>
		
		<tr>
			<th>sectionBlog(section_name)</th>
			<td><strong>section_name</strong>, (string) The text id of the section to show</td>
			<td>(string) Returns well-formatted html of list of section articles.
			<p>This function will return false if context is not section!</p></td>
			<td>
				<code>{% raw %}{{ html.sectionBlog('web') }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;section class="blog section web"&#62;
  
  &#60;article class="head" &#62;
    &#60;h1&#62;Web design&#60;/h1&#62;
    This section collects some of our best works....
  &#60;/article&#62;
    
  &#60;article class="list" &#62;
    &#60;h3&#62;&#60;a href="/en/web-design"&#62;Web design&#60;/a&#62;&#60;/h3&#62;
    &#60;div class="content"&#62;
      Some of our latest work on web design...
    &#60;/div&#62;
    &#60;div class="read_more"&#62;
      &#60;a href="/en/web-design"&#62;Read more&#60;/a&#62;
    &#60;/div&#62;
  &#60;/article&#62;
  
  &#60;article&#62;
    ...
  &#60;/article&#62;
  
  ...
&#60;/section&#62;
</pre>
			</td>
		</tr>
		
		<tr>
			<th>siblingsBlog()</th>
			<td></td>
			<td>(string) Returns well-formatted html of list of current article's siblings.
			<p>This function will return false if context is not article!</p></td>
			<td>
				<code>{% raw %}{{ html.siblingsBlog() }}{% endraw %}</code>
			
				<pre class="prettyprint">&#60;section class="blog siblings"&#62;
  &#60;article&#62;
    &#60;h3&#62;&#60;a href="/en/web-design"&#62;Web design&#60;/a&#62;&#60;/h3&#62;
    &#60;div class="content"&#62;
      Some of our latest work on web design...
    &#60;/div&#62;
    &#60;div class="read_more"&#62;
      &#60;a href="/en/web-design"&#62;Read more&#60;/a&#62;
    &#60;/div&#62;
  &#60;/article&#62;
  
  &#60;article&#62;
    ...
  &#60;/article&#62;
  
  ...
&#60;/section&#62;
</pre>
			</td>
		</tr>
		
		
		
	</tbody>
</table>


<h2>class Out</h2>


<table class="table table-striped">

	<thead>
		<tr>
			<th class="col-md-2">Method</th>
			<th class="col-md-4">Returns</th>
			<th class="col-md-6">Example</th>
		</tr>
	</thead>
	
	
	<tbody>
	
		<tr>
			<th>getArticle(article-text-id)</th>
			<td>(string|array) Returns element of article array data. If article-text-id is missing and context is article, current article array will be returned.</td>
			<td>
				<code>{% raw %}{{ out.getArticle() }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   'id' => integer,
   'title' => string,
   'textid' => string,
   'sort' => integer,
   'summary' => string,
   'text' => string,
   'keywords' => string,
   'author' => string,
   'status' => string,
   'section' => string,
   'tags' => string,
   'created' => datestamp,
   'publish' => datestamp,
   'expires' => datestamp,
   'updated' => boolean,
   'url' => string,
   'full_url' => string
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getArticlesByTag('tag1', 'tag2', ...)</th>
			<td>(array|false) Returns list of articles tagged by tag. If multiple tags are requested AND statement is used</td>
			<td>
				<code>{% raw %}{{ out.getArticlesByTag('news', 'latest') }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   array(
     'id' => integer,
     'title' => string,
     'textid' => string,
     'sort' => integer,
     'author' => string,
     'summary' => string,
     'section' => string,
     'tags' => string,
     'url' => string,
     'full_url' => string
   ),
   array(...),
   ...
)</pre>
			</td>
		</tr>
		
		
		<tr>
			<th>getArticlesBySection('section_name')</th>
			<td>(array|false) Returns list of articles of section `section_name` as array of `list` array index. If an article with text id 'section_name' exists it will be returned as content of the `head` array index</td>
			<td>
				<code>{% raw %}{{ out.getArticlesByTag('news') }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   'list' => array(		
	   array(
	     'id' => integer,
	     'title' => string,
	     'textid' => string,
	     'sort' => integer,
	     'author' => string,
	     'summary' => string,
	     'section' => string,
	     'tags' => string,
	     'url' => string,
	     'full_url' => string
	   ),
	   array(...),
	   ...
	),
   'head' => array(
      'id' => integer,
      'title' => string,
      'textid' => string,
      'sort' => integer,
      'summary' => string,
      'text' => string,
      'keywords' => string,
      'author' => string,
      'status' => string,
      'section' => string,
      'tags' => string,
      'created' => datestamp,
      'publish' => datestamp,
      'expires' => datestamp,
      'updated' => boolean,
      'url' => string,
      'full_url' => string
	)
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getArticlesBySectionAndTags('section', 'tag1', 'tag2', ...)</th>
			<td>(array|false) Returns list of articles belonging to section and tagged by tags. If multiple tags are requested AND statement is used</td>
			<td>
				<code>{% raw %}{{ out.getArticlesBySectionAndTags('news', 'php', 'javascript') }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   array(
     'id' => integer,
     'title' => string,
     'textid' => string,
     'sort' => integer,
     'author' => string,
     'summary' => string,
     'section' => string,
     'tags' => string,
     'url' => string,
     'full_url' => string
   ),
   array(...),
   ...
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getArticlesTagSiblings()</th>
			<td>(array|false) If context is article returns array of articles sharing the same tags with current article. The articles are listed in a relevance order.</td>
			<td>
				<code>{% raw %}{{ out.getArticlesTagSiblings() }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   array(
     'id' => integer,
     'title' => string,
     'textid' => string,
     'sort' => integer,
     'author' => string,
     'summary' => string,
     'section' => string,
     'tags' => string,
     'url' => string,
     'full_url' => string
   ),
   array(...),
   ...
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getArticleSiblings()</th>
			<td>(array|false) If context is article returns array of article siblings (having same section)</td>
			<td>
				<code>{% raw %}{{ out.getArticleSiblings() }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   array(
     'id' => integer,
     'title' => string,
     'textid' => string,
     'sort' => integer,
     'author' => string,
     'summary' => string,
     'section' => string,
     'tags' => string,
     'url' => string,
     'full_url' => string
   ),
   array(...),
   ...
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getContext()</th>
			<td>(string) Returns context of usage: article, section, search or home</td>
			<td>
				<code>{% raw %}{{ out.getContext() }}{% endraw %}</code>
			
				<pre class="prettyprint">section</pre>
			</td>
		</tr>
		
		
		<tr>
			<th>getLanguages()</th>
			<td>
				(array) Returns array of available languages<br />
				<ul>
					<li>code</li>
					<li>string</li>
					<li>is_current</li>
					<li>href</li>
				</ul>
			</td>
			<td>
				<code>{% raw %}{{ out.getLanguages() }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   array(
     'code'=>'it',
     'string'=>'Italiano',
     'is_current'=>true,
     'href'=>'http://bradypus.net/it'
   ),
   array(...)
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getMenu(menu_name)</th>
			<td>(array) Returns structured (multi-dimension) array with menu data
			<ul>
				<li>title</li>
				<li>description</li>
				<li>keywords</li>
				<li>lang</li>
			</ul></td>
			<td>
				<code>{% raw %}{{ out.getMenu('main') }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
  array(
     'id' => integer,
     'item' => string,
     'href' => string,
     'target' => string,
     'title' => string,
     'menu' => string,
     'sort' => integer,
     'subof' => integer,
     'current' => boolean,
     'sub' => array(
       array(
         'id' => integer,
         'item' => string,
         'href' => string,
         'target' => string,
         'title' => string,
         'menu' => string,
         'sort' => integer,
         'subof' => string,
         'sub' => array()
       ),
       array(...),
       ...
     )
   )
  ),
  array(...),
  ...
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getPageData(el)</th>
			<td>(array|string) Returns document metadata array (all metadata) or string (single metadata). Available documenta metadata are
			<ul>
				<li>title</li>
				<li>description</li>
				<li>keywords</li>
				<li>lang</li>
				<li>url</li>
				<li>image (may be false. It's the src of the first image of article's content)</li>
				<li>author (may be false. It's article's author)</li>
				<li>date (may be false. It's article's publish date)</li>
				<li>publisher (may be false. It's OAI config publisher parameter)</li>
			</ul></td>
			<td>
				<code>{% raw %}{{ out.getPageData('title') }}{% endraw %}</code>
			
				<pre class="prettyprint">Home Page</pre>
			</td>
		</tr>
		
		<tr>
			<th>getSearchResults()</th>
			<td>(array|false) Returns list of articles matched by search string.</td>
			<td>
				<code>{% raw %}{{ out.getSearchResults() }}{% endraw %}</code>
			
				<pre class="prettyprint">array(
   array(
     'id' => integer,
     'title' => string,
     'textid' => string,
     'sort' => integer,
     'author' => string,
     'summary' => string,
     'section' => string,
     'tags' => string,
     'url' => string,
     'full_url' => string
   ),
   array(...),
   ...
)</pre>
			</td>
		</tr>
		
		<tr>
			<th>getSearchString()</th>
			<td>(string|false) If context is search returns searched string</td>
			<td>
				<code>{% raw %}{{ out.getSearchString() }}{% endraw %}</code>
			
				<pre class="prettyprint">bradypus</pre>
			</td>
		</tr>
		
		<tr>
			<th>getSectionName()</th>
			<td>(string|false) If context is section returns displayed section name.
			<p>If context is article returns article's section</p></td>
			<td>
				<code>{% raw %}{{ out.getSectionName }}{% endraw %}</code>
			
				<pre class="prettyprint">about_us</pre>
			</td>
		</tr>
		
		
		<tr>
			<th>link2(article, isSection, tags)</th>
			<td><strong>article</strong>: (string) Returns relative link string article (<code>article</code> is articles textual ID) or to site homepage (if <code>article</code> is home), depending on current url<br />
				<strong>isSection</strong>: (boolean) If true It's a link to a section blog. Default: false<br />
				<strong>tags</strong>: (array): tags used to filter section blog. Default: false
			</td>
			<td>
				<code>{% raw %}{{ out.link2('home') }}{% endraw %}</code>
				<pre class="prettyprint">./</pre>
				
				<code>{% raw %}{{ out.link2('my-first-page') }}{% endraw %}</code>
				<pre class="prettyprint">./my-first-page</pre>
				
				<code>{% raw %}{{ out.link2('news', 'true') }}{% endraw %}</code>
				<pre class="prettyprint">./news.all</pre>
				
				<code>{% raw %}{{ out.link2('news', ['latest', 'hot']) }}{% endraw %}</code>
				<pre class="prettyprint">./news.all/latest-hot</pre>
				
			</td>
		</tr>
		
		
		<tr>
			<th>sectionHasTags()</th>
			<td>(boolean) Returns true if context is section and some filtering by tags is active, otherwise returns false.</td>
			<td>
				<code>{% raw %}{{ out.sectionHasTags }}{% endraw %}</code>
			</td>
		</tr>
		
		
	</tbody>
	
</table>


<script>window.prettyPrint && prettyPrint()</script>