<div id="{{ uid }}">
<h1>BraDyCMS template system docs</h1>

<p>BraDyCMS uses <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> for templating web sites.</p>
<p>Please refer to <a href="http://twig.sensiolabs.org/doc/templates.html" target="_blank">the official documenttation</a> for Twig usage.</p>
<p>Template file, located in <code>./sites/default/</code> folder receives one argument named <code>html</code>, instance of object <code>OutHtml</code>. It's available methods, and usage is documented beneath</p>
<p>For a fully working template example follow <a href="#docs/read/example">this link</a></p>

<h2>class OutHtml</h2>
<p class="lead">OutHtml extends class Out and inherits all it's public methods. As a general rule methods of class Out return PHP strings and arrays and methods of OutHtml return well formatted HTML code.</p>

<p>To call public methods (listed beneath) in template files (<code>*.twig</code>) just use the following syntax: <code>{% raw %} {{ html.methodName }} {% endraw %}</code></p>

<p>For example: <code>{% raw %}{{ html.getContext }}{% endraw %}</code> will return the actual context, i.e. one of the strings <code>home</code>, <code>article</code>, <code>tags</code> or <code>search</code>.</p>

<hr />


<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-2">Method name</th>
			<th class="col-md-2">Parameters</th>
			<th class="col-md-4">Return and description</th>
			<th class="col-md-6">Example usage</th>
		</tr>
	</thead>
	
	<tbody>
		{% for el in docs %}
			<tr>
				<td>{{ el.method }}</td>
				<td>
					{% for p, d in el.params %}
						- <strong>{{ p }}</strong>: {{ d }}<br />
					{% endfor %}
				</td>
				<td>{{ el.description }}</td>
				<td>
          {% if el.example_usage %}
            <code>{{ el.example_usage }}</code>
          {% endif %}
          {% if el.example_output %}
            <pre class="prettyprint">{{ el.example_output }}</pre>
          {% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</div>

<script>
	window.prettyPrint && prettyPrint();
	
	$('#{{ uid }} table').dataTable({
	"iDisplayLength": 50,
	"bDestroy": true,
	"bSort": false,
});

$.each($('#{{ uid }} table tr'), function(i, el){
	$(el).find('td:first').css('font-weight', 'bold');
});
	
</script>