<h2>{{ tr.get('select_lang_to_edit') }}</h2>

<div id="but_{{ uid }}">
	{% for lang in langs %}
	
		<button type="button" data-lang="{{ lang|replace({'.php': ''})}}" class="lang btn btn-info"><i class="icon ion-ios7-world"></i> {{ lang|replace({'.php': ''})|capitalize}}</button>
		
	{% endfor %}
	
  {% if add_lang %}
	<button type="button" class="add-locale btn btn-warning"><i class="icon ion-checkmark"></i> {{ tr.get('add_locale') }}</button>
  {% endif %}

</div>

<hr />
<div id="cont_{{ uid }}" class="transl-content"></div>

<script>
	$('#but_{{ uid }} button.lang').on('click', function(){
		$('#cont_{{ uid }}').load('controller.php?obj=sys_translate_ctrl&method=showForm&param[]={{ context }}&param[]=' + $(this).data('lang'));
	});
  
	{% if add_lang %}
  $('#but_{{ uid }} button.add-locale').on('click', function(){
    admin.dialog({
      title: '{{ tr.get('enter_locale') }}',
      html: '<input type="text" placeholder="{{ tr.get('enter_locale') }}" maxlength="2" class="new_locale" />',
      buttons:[{
          text: '{{ tr.get('save')}}',
          click: function(){
            var new_locale = $('.modal input.new_locale').val();
            if (!new_locale){
              admin.message('{{ tr.get('new_locale_cant_be_empty') }}', 'error');
              $('.modal input.new_locale').focus();
            } else {
              $('div.modal').modal('hide').remove();
              $.get('controller.php?obj=sys_translate_ctrl&method=add_locale&param[]=' + new_locale, function(data){
                admin.message(data.text, data.status);
                if (data.status == 'success'){
                  admin.tabs.reloadThis('#but_{{ uid }}');
                }
              }, 'json');
            }
          }
        },
        {
          text: '{{ tr.get('close')}}',
          action: 'close'
        }]
    });
	});
  {% endif %}
	
	{% if opened_lang %}
		$('#cont_{{ uid }}').load('controller.php?obj=sys_translate_ctrl&method=showForm&&param[]={{ context }}param[]={{ opened_lang }}');
	{% endif %}
</script>
