<div id="{{ uid }}">
  <h1>{{ tr.get('manage_articles') }}</h1>

  <div class="btn-group" style="padding:20px 0;">
    <a class="btn btn-info" href="#article/addNew" title="{{ tr.get('add_new_article') }}">
      <i class="fa fa-plus-circle"></i> {{ tr.get('add_new_article') }}
    </a>
    <a class="btn btn-default reload" title="{{ tr.get('reload') }}">
      <i class="fa fa-refresh"></i> {{ tr.get('reload') }}
    </a>
  </div>

  <div class="row well">
    <div class="col-xs-1">
      <i class="fa fa-tags" style="font-size:2em;"></i>
    </div>
    <div class="col-xs-11 col-sm-9">
      <input type="text" name="tags" value="{{ active_tags|join(',') }}" class="tags" style="width:100%" />
    </div>
    <div class="col-sm-2 col-xs-12">
      <button class="btn btn-success btn-block btn-sm filter">
        <i class="fa fa-filter"></i> {{ tr.get('apply_filter') }}
      </button>
    </div>
  </div>


  <div class="well well-sm clearfix delete-tag-container" style="margin: 10px 0 20px 0; display: none;">
    <span class="text-danger">
      <i style="font-size:1.5em;" class="fa fa-exclamation-triangle"></i>
      {{ tr.sget('confirm_delete_tag_not_used', active_tags[0]) }}</span>
      <button class="btn btn-danger deleteTag"><i class="fa fa-trash"></i> {{ tr.get('delete') }}</button>
      <button class="btn btn-danger deleteAllTags"><i class="fa fa-trash"></i> {{ tr.get('delete_unused_tags') }}</button>
  </div>





  <table class="table table-striped table-bordered table-hover data_table table-responsive">
    <thead>
      <tr>
        <th>{{ tr.get('id') }}</th>
        <th>{{ tr.get('title') }}</th>
        <th>{{ tr.get('textid') }}</th>
        <th>{{ tr.get('sorting') }}</th>
        <th>{{ tr.get('author') }}</th>
        <th>{{ tr.get('status') }}</th>
        <th>{{ tr.get('published') }}</th>
        <th style="min-width:150px;"></th>
      </tr>
    </thead>

    <tbody>
    </tbody>

  </table>
</div>
<script>
$('#{{ uid }} a.reload').click(function(){
  admin.tabs.reloadThis(this);
  return false;
});

var tb = $('#{{ uid }} table.data_table').dataTable({
  "iDisplayLength": 10,
  "bDestroy": true,
  "bProcessing": true,
  "bServerSide": true,
  "sAjaxSource": "./controller.php?obj=article_ctrl&method=sql2json{{ imploded_active_tags|raw }}",
  "order": [[ 0, "desc" ]],
  "aoColumns": [
    { "mData":"id"},
    {
      "mData": function(row){
        return '<a href="#article/edit/' + row.id + '">' + row.title + '</a>'
      }
    },
    { "mData":"textid" },
    { "mData":"sort" },
    { "mData":"author" },
    { "mData":"status" },
    { "mData":"publish" },
    {
      "mData":  function(row){
        return '<div class="btn-group">'
          + '<a href="#article/edit/' + row.id +'" class="btn btn-default btn-sm" title="{{ tr.get('edit') }}"><i class="fa fa-pencil"></i></a>'

            {% for lang in cfg_langs %}
              + ' <a href="#article/translate/{{ lang.id }}/'+ row.id +'" class="btn btn-default btn-sm" title="{{ tr.get('translate_article_in', lang.string) }}"><i class="fa fa-random"></i> {{ lang.id|upper }}</a>'
            {% endfor %}
          + '<a href="#" class="btn btn-default btn-sm delete_article" data-id="'+ row.id +'" title="{{ tr.get('delete') }}"><i class="fa fa-trash"></i></a>'
          + '</div>'
      }, "orderable": false
    }
  ],
  "fnDrawCallback": function(d){

    $('#{{ uid }} .delete-tag-container').hide();

    // Show delete tags button
    {% if active_tags|length == 1 and active_tags[0] != '' %}
    if (
      this.fnSettings().fnRecordsDisplay() === 0
      &&
      d.oPreviousSearch.sSearch.length < 1
    ){

      $('#{{ uid }} .delete-tag-container').show();
    }
    {% endif %}


    $('#{{ uid }} a.delete_article').click(function(event){
      event.preventDefault();
      var $this = $(this);
      admin.dialog({
        title: '{{ tr.get('pay_attention_please') }}',
        html: '{{ tr.get('confirm_delete_article') }}',
        buttons: [
                  {
                    text: '<i class="fa fa-trash"></i> {{ tr.get('delete') }}',
                    addclass: 'btn-danger',
                    action: 'close',
                    click: function(){
                      $.get('controller.php?obj=article_ctrl&method=delete&param[]=' + $this.data('id'), function(data){
                        admin.message(data.text, data.type);
                        if (data.type === 'success'){
                          admin.tabs.reloadThis('#{{ uid }}');
                        }
                      }, 'json')
                    }
                  },
                  {
                    text: '{{ tr.get('close') }}',
                    action: 'close'
                  }
                 ]
      });
    });
  }
});



$('#{{ uid }} .deleteTag').on('click', function(){

  $.get('controller.php?obj=article_ctrl&method=deleteTag&tag={{ active_tags[0] }}', function(data){
    if (!data){
      admin.tabs.closeActive('article/all');
    } else {
      admin.message(data, 'error');
    }
  });
});


$('#{{ uid }} .deleteAllTags').on('click', function(){
  $.get('controller.php?obj=article_ctrl&method=deleteAllTags', function(data){
    if (!data){
      admin.tabs.closeActive('article/all');
    } else {
      admin.message(data, 'error');
    }
  });
});


$('#{{ uid }} input.tags').select2({
  tags: [{{ imploded_tags|raw }}]

});

$('#{{ uid }} .filter').on('click', function(){
  var used = $('#{{ uid }} input.tags').val();

  admin.tabs.closeActive('article/all' + (used.length ? '/' + used.replace(/,/g, '/') : ''));
});
</script>
