{#
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<div id="{{ uid }}">
  <h2>{{ tr.get('backup_restore_db') }}</h2>


  <table class="table table-bordered table-striped">
  {% for file in list %}
    {% if loop.index == 1 %}
      <tr>
        <th></th>
        <th>{{ tr.get('name') }}</th>
        <th>{{ tr.get('date') }}</th>
        <th>{{ tr.get('size') }}</th>
        <th></th>
      </tr>
    {% endif %}
    <tr>
      <th>{{ loop.index }}</th>
      <td>{{ file.name }}</td>
      <td>{{ file.date }}</td>
      <td>{{ file.size}} MB</td>
      <td>
        {% if is_admin %}
          <button class="btn btn-danger delete" data-id="{{ file.name }}"><i class="fa fa-trash"></i> {{ tr.get('delete') }}</button>
          <button class="btn btn-danger restore" data-id="{{ file.name }}"><i class="fa fa-retweet"></i> {{ tr.get('restore') }}</button>
        {% endif %}
      </td>
    </tr>

  {% else %}

    <div class="bg-warning" style="padding: 20px;">
      <p class="lead"><i class="fa fa-exclamation-triangle"></i> {{ tr.get('no_available_backup') }}</p>
    </div>
  {% endfor %}
  </table>

  <div style="margin: 20px 0;">

    <p>
      <button class="btn btn-success create_backup"
              data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading...."
              onclick="$(this).button('loading');"
              ><i class="fa fa-floppy-o"></i> {{ tr.get('create_backup') }}</button>
    </p>
  </div>
</div>


<script>
  $('#{{ uid }} .create_backup').on('click', function(){
    var $this = this;
    $.getJSON('controller.php?obj=backup_ctrl&method=createNew', function(data){
      if (data.status === 'success'){
        admin.tabs.reloadThis('#{{ uid }}');
      }

      admin.message(data.text, data.status);
    });

  });

{% if is_admin %}
  $('#{{ uid }} .delete').on('click', function(){

    var file = $(this).data('id');

    admin.dialog({
      'html': '<h3>' + admin.tr('confirm_delete_backup') + '</h3>',
      'buttons': [
        {
          'text': admin.tr('delete'),
          'addclass': 'btn-danger',
          'glyphicon': 'trash',
          'click': function(){
            $.getJSON('controller.php?obj=backup_ctrl&method=deleteBackup&param[]=' + file, function(data){
              if (data.status === 'success'){
                admin.tabs.reloadThis('#{{ uid }}');
              }

              admin.message(data.text, data.status);

              $('#modal').modal('hide');
            });
          }
        },
        {
          'text': admin.tr('close'),
          'action': 'close'
        }
      ]
    });

  });

  $('#{{ uid }} .restore').on('click', function(){

    var file = $(this).data('id');

    admin.dialog({
      'html': '<h3>' + admin.tr('confirm_restore_backup') + '</h3>',
      'buttons': [
        {
          'text': admin.tr('restore'),
          'addclass': 'btn-danger',
          'glyphicon': 'share-alt',
          'click': function(){

            $.getJSON('controller.php?obj=backup_ctrl&method=restoreBackup&param[]=' + file, function(data){
              if (data.status === 'success'){
                admin.tabs.reloadThis('#{{ uid }}');
              }

              admin.message(data.text, data.status);

              $('#modal').modal('hide');
            });
          }
        },
        {
          'text': admin.tr('close'),
          'action': 'close'
        }
      ]
    });
  });
{% endif %}
</script>
