{#  
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<div id="{{ uid }}">
  <form action="javascript:void(0)" class="new_protectd_pages_user">
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        name="from"
        placeholder="{{ tr.get('from') }}"
        required="required">
    </div>

    <div class="form-group">
      <select
        class="form-control"
        multiple="true"
        name="tags[]"
        placeholder="{{ tr.get('tags') }}"
        style="width:100%">
        {% for t in all_tags %}
        <option>{{ t }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="subject"
        placeholder="{{ tr.get('subject') }}"
        required="required">
    </div>

    <div class="form-group">
      <textarea
        class="form-control"
        name="text"
        placeholder="{{ tr.get('text') }}"
        style="height:100px;"
        required="required"></textarea>
    </div>

    <div class="alert alert-info">
      <h4>{{ tr.get('available_variables') }}</h4>
      <ul>
        <li><code>%name%</code>: {{ tr.get('name') }}</li>
        <li><code>%email%</code>: {{ tr.get('email_address') }}</li>
      </ul>
    </div>
    <button type="submit" class="hide"></button>
  </form>

  <div class="loading" style="display: none;">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size: 3em;"></i>
  </div>
  <div class="results"></div>
</div>


<script>
$('#{{ uid }} select[name="tags[]"]').select2({ tags: true });

var form = $('#{{ uid }} form');
form.on('submit', function(){
  if (!form.find('input[name="from"]').val()){
    admin.message('{{ tr.sget('missing_required', tr.get('from')) }}', 'error');
    return;
  }
  if (form.find('select[name="tags[]"]').val() === []){
    admin.message('{{ tr.sget('missing_required', tr.get('tags')) }}', 'error');
    return;
  }
  if (!form.find('input[name="subject"]').val()){
    admin.message('{{ tr.sget('missing_required', tr.get('subject')) }}', 'error');
    return;
  }
  if (!form.find('textarea[name="text"]').val()){
    admin.message('{{ tr.sget('missing_required', tr.get('text')) }}', 'error');
    return;
  }
  form.hide();
  $('#modal a.btn-success').hide();

  $('#{{ uid }} .loading').show();

  $.post(
    'controller.php?obj=protectedtags_ctrl&method=send_email',
    form.serialize(), function(data){
      $('#{{ uid }} .loading').hide();
      $('#{{ uid }} .results').html(
        '<p class="text-success">{{ tr.get('sent_to') }}: ' + data.success.length + '</p>' +
        '<div class="text-muted">' + data.success.join(', ') +'</div>' +
        '<hr />' +
        '<p class="text-danger">{{ tr.get('not_sent_to') }}: ' + data.error.length + '</p>' +
        '<div class="text-muted">' + data.error.join(', ') +'</div>');
    }, 'json');
});
</script>
