{#  
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}
<form action="javascript:void(0);" id="loginform" class="{{ css.form }}">
  <input
    type="hidden"
    name="token"
    value="{{ token }}">


  <div class="form_err {{ css.error }}"></div>

  <div class="email {{ css.email_cont }}">
    <input
      type="email"
      name="email"
      placeholder="{{ tr.get('email_address') }}"
      required="true"
      class="{{ css.email_input }} form-control">
  </div>

  <div class="password {{ css.password_cont }}">
    <input
      type="password"
      name="password"
      placeholder="{{ tr.get('password') }}"
      required="true"
      class="{{ css.password_input }} form-control">
  </div>


  {% if grc_sitekey %}
  <div class="g-recaptcha" data-sitekey="{{ grc_sitekey }}"></div>
  {% endif %}

  <div class="submit {{ css.submit_cont }}">
    <input
      type="submit"
      class="submit {{ css.submit_input }}">
  </div>
</form>
{% if grc_sitekey %}
<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit"></script>
<script>
if (typeof recaptchaCallback !== 'function') {
  var called = false;
  function recaptchaCallback(){
    if (called) return;
    $('.g-recaptcha').each(function(i, el){
      grecaptcha.render(el, {
        {% if lang %} 'hl': '{{ lang }}',{% endif %}
        'sitekey' : $(el).data('sitekey')
      });
    });
    called = true;
  }
}
</script>
{% endif %}

<script>
(function(){
if (!window.jQuery){
  console.log('Jquery is not loaded');
  return;
}

$('#loginform').on('submit', function(){
  var form = $(this);
  form.find('.form_err').text('');
  if (!form.find('input[name="email"]').val()){
    form.find('.form_err').text('{{ tr.get('email_required') }}');
    return false;
  }
  if (!form.find('input[name="password"]').val()){
    form.find('.form_err').text('{{ tr.get('password_required') }}');
    return false;
  }
  $.post('controller.php?obj=protectedtags_ctrl&method=login', form.serialize(), function(data){
    if (data.status === 'success'){
        window.location.reload(false);
        window.scrollTo(0,0);
        return true;
      } else {
        form.find('.form_err').text(data.text);
      }
    }, 'json');
});

})();
</script>
