{#  
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<div id="{{ uid }}">
  <form action="javascript:void(0)" class="new_protectd_pages_user">
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="{{ tr.get('name') }}"
        required="required"
        value="{{ user.name }}">
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="{{ tr.get('email_address') }}"
        required="required"
        value="{{ user.email }}">
    </div>
    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          name="password"
          required="required"
          placeholder="{{ tr.get('password') }}"
          value="{{ user.password }}">
        <span class="input-group-addon">
          <a title="Strong password example"
          target="_blank"
          href="http://passwordsgenerator.net/?length=8&symbols=1&numbers=1&lowercase=1&uppercase=1&similar=1&ambiguous=0&client=0&autoselect=1">
            <i class="fa fa-life-ring"></i>
          </a>
        </span>
      </div>
    </div>

    <div class="form-group">
      <select class="tags" name="tags[]"
        class="form-control"
        multiple="multiple"
        style="width:100%"
        placeholder="{{ tr.get('tags') }}"
        value="{{ user.tags }}">
        {% for t in all_tags %}
        <option>{{ t }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <input type="text" name="confirmationcode"
        class="form-control"
        style="width:100%"
        placeholder="{{ tr.get('confirmationcode') }}"
        value="{{ user.confirmationcode }}">
    </div>

    <input type="hidden" name="id" value="{{ user.id }}">
    <button type="submit" style="display: none;"></button>
  </form>
</div>

<script>
$('#{{ uid }} select.tags').select2({ tags: true });
</script>
