<div id="{{ uid }}">
  <h2>{{ tr.get('protected_tags') }}</h2>

  <div class="btn-group" style="padding:20px 0;">

    <a class="btn btn-info add_new" title="{{ tr.get('add_new_user') }}">
      <i class="icon ion-plus"></i> {{ tr.get('add_new_user') }}
    </a>

    <a class="btn btn-default reload" title="{{ tr.get('reload') }}">
      <i class="icon ion-refresh"></i> {{ tr.get('reload') }}
    </a>

  </div>

  {% if (users == false) %}

  <div class="alert alert-warning">
    <i class="icon ion-alert-circled"></i>
    {{ tr.get('no_protected_tags_users') }}
  </div>

  {% else %}

  <div class="well">
    <p class="lead">{{ tr.get('currently_protected_tags') }}:
      {% for t in protected %}
      <code><a href="#article/all/{{ t }}">{{ t }}</a></code>
      {% endfor %}
      </ul>
    </p>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ tr.get('email_address') }}</th>
        <th>{{ tr.get('password') }}</th>
        <th>{{ tr.get('tags') }}</th>
        <th>
          <button class="btn btn-success">
            <i class="icon ion-checkmark"></i> {{ tr.get('save') }}
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th>{{ loop.index }}</th>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.tags }}</td>
        <td>
          <button class="btn btn-default btn-sm edit" data-item="{{ user.id }}">
            <i class="icon ion-edit"></i>
          </button>

          <button class="btn btn-default btn-sm delete" data-item="{{ user.id }}">
            <i class="icon ion-trash-a"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  {% endif %}
</div>

<script>

function openEditForm(id){
  admin.dialog({
    title: admin.tr('edit_add_authorized_user'),
    obj: 'protectedtags_ctrl',
    method: 'show_user_form',
    param: id ? [id] : false,
    buttons:[
      {
        text: admin.tr('save'),
        addclass: 'btn-success',
        click: function(){

          if (!$('#new_protectd_pages_user').find('input[name="email"]').val()){
            admin.message('{{ tr.sget('missing_required', tr.get('email_address')) }}', 'error');
            return;
          }

          if (!$('#new_protectd_pages_user').find('input[name="password"]').val()){
            admin.message('{{ tr.sget('missing_required', tr.get('password')) }}', 'error');
            return;
          }

          if (!$('#new_protectd_pages_user').find('input[name="tags"]').val()){
            admin.message('{{ tr.sget('missing_required', tr.get('tags')) }}', 'error');
            return;
          }

          $.post(
            'controller.php?obj=protectedtags_ctrl&method=save',
            $('#new_protectd_pages_user').serialize(), function(data){
              admin.message(data.text, data.status);
              if(data.status === 'success'){
                $('#modal').modal('hide');
                admin.tabs.reloadThis('#{{ uid }}');
              }
          }, 'json');
        }
      },
      {
        text: admin.tr('reset'),
        action: 'close'
      }
    ]
  });
}

// Reload page
$('#{{ uid }} .reload').on('click', function(){
  admin.tabs.reloadThis(this);
});

// edit user
$('#{{ uid }} .edit').on('click', function(){
  openEditForm($(this).data('item'));
});

// delete user
$('#{{ uid }} .delete').on('click', function(){
  $.get(
    'controller.php?obj=protectedtags_ctrl&method=deleteUser&param[]=' + $(this).data('item'),
    function(data){
      admin.message(data.text, data.status);
      if(data.status === 'success'){
        admin.tabs.reloadThis('#{{ uid }}');
      }
  }, 'json');
});


// add new user
$('#{{ uid }} .add_new').on('click', function(){
  openEditForm();
});
</script>
