<div id="{{ uid }}">
  
  {% if status == 'updateable_warning' or status == 'updateable' %}
    <div class="alert alert-info">
      <p class="lead">{{ tr.sget('new_version_available', remote_vers) }}</p>
    </div>
  
    {% if status == 'updateable_warning' %}
     <div class="alert alert-info"><i class="glyphicon glyphicon-info-sign"></i> {{ tr.get('updateable_warning') }}</div>
    {% endif %}
    <p><button class="btn btn-success install"><i class="glyphicon glyphicon-cloud-download"></i> {{ tr.get('download_install') }}</button></p>
    
  {% elseif status == 'already_updated' %}
    <div class="alert alert-success">
      <i class="glyphicon glyphicon-ok"></i> {{ tr.get('already_updated') }}
    </div>
    
  {% elseif status == 'not_updateable' %}
    <div class="alert alert-danger">
      <i class="glyphicon glyphicon-warning-sign"></i> {{ tr.sget('not_updateable', [remote_vers, local_vers]) }}
    </div>
    
  {% elseif status == 'local_dev' %}
    <div class="alert alert-danger">
      <i class="glyphicon glyphicon-warning-sign"></i> {{ tr.sget('local_dev', [local_vers, remote_vers]) }}
    </div>
  {% endif %}
    
    
    <div class="update_result"></div>
    <div class="loading"></div>
</div>

<script>
  
  function stepByStepInstall(step, localZipPath){
    if (!step)
    {
      var step = 'start';
    }
    var waitingMsg;
    
    switch(step){
      case 'start':
        waitingMsg = 'Downloading update from Github...';
        break;
      case 'unzip':
        waitingMsg = 'Unpacking update...';
        break;
      case 'install':
        waitingMsg = 'Installing update...';
        break;
    }
    $('#{{ uid }} .loading').html('<img src="./img/loading.gif" alt="loading..." /> ' + waitingMsg)
    
    $.get('controller.php?obj=update_ctrl&method=stepByStepInstall&step=' + step + 
      (localZipPath ? '&localZipPath=' + localZipPath : ''),
      
    function(data){
        
      if (data.status === 'success'){
        $('#{{ uid }} .update_result').append('<p class="lead text-success">' +
          '<i class="glyphicon glyphicon-ok"></i> ' + data.text +
          '</p>');
        if (data.step === 'finished'){
          $('#{{ uid }} .loading').remove();
          $('#{{ uid }} .update_result').append('<p class="lead">' +
            'The update was successfully installed. You  should consider ' +
            'emptying the cache, the trash and eventually updating  the ' +
            '.htaccess file. Follow <a href="#cfg/edit">this link</a> to perform ' +
            'all these post-installation actions.</p>');
          
        } else {
          stepByStepInstall(data.step, data.localZipPath);
        }
        
      } else {
        $('#{{ uid }} .update_result').append('<div class="alert alert-danger">' +
          '<p class="lead">' + data.text + '</p>' +
          '</div>');
      }
    }, 'json');
  }
  
  $('#{{ uid }} .install').on('click', function(){
    stepByStepInstall();
  });
</script>
