{# 
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<div id="{{ uid }}">
  {% if status == 'updateable_warning' or status == 'updateable' %}
    <div class="alert alert-info">
      <p class="lead">{{ tr.sget('new_version_available', [remote_vers]) }}</p>
    </div>
    {% elseif branch == 'BraDyCMS-dev' %}
      <div class="alert alert-warning">
        <p class="lead">{{ tr.sget('dev_update_available', [remote_vers]) }}</p>
      </div>
      
  
    {% if status == 'updateable_warning' %}
     <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ tr.get('updateable_warning') }}</div>
    {% endif %}
    
  {% elseif status == 'already_updated' %}
    <div class="alert alert-success">
      <i class="fa fa-check"></i> {{ tr.get('already_updated') }}
    </div>
    
  {% elseif status == 'not_updateable' %}
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-triangle"></i> {{ tr.sget('not_updateable', [remote_vers, local_vers]) }}
    </div>
    
  {% elseif status == 'local_dev' %}
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-triangle"></i> {{ tr.sget('local_dev', [local_vers, remote_vers]) }}
    </div>
  {% endif %}
  
  {% if status in ['updateable_warning', 'updateable', 'local_dev'] or branch == 'BraDyCMS-dev' %}
    <p><button class="btn btn-success install"><i class="fa fa-archive"></i> {{ tr.get('download_install') }}</button></p>
  {% endif %}
    
    <div class="update_result"></div>
    <div class="loading"></div>
</div>

{% if status in ['updateable_warning', 'updateable', 'local_dev'] or branch == 'BraDyCMS-dev' %}
<script>
  
  function stepByStepInstall(step, remoteVersion){
    if (!step)
    {
      var step = 'start';
    }
    var waitingMsg;
    
    switch(step){
      case 'start':
        waitingMsg = 'Downloading update from Github...';
        break;
      case 'unzip':
        waitingMsg = 'Unpacking update...';
        break;
      case 'install':
        waitingMsg = 'Installing update...';
        break;
      case 'update_htaccess':
        waitingMsg = 'Updating .htaccess file...';
        break;
      case 'empty_cache':
        waitingMsg = 'Emptying cache...';
        break;
      case 'empty_trash':
        waitingMsg = 'Emptying trash...';
        break;
      
    }
    $('#{{ uid }} .loading').html('<i class="fa fa-circle-o-notch fa-spin"></i> ' + waitingMsg);
    
    $.get('controller/?obj=update_ctrl&method=stepByStepInstall&step=' + step + 
      '&remoteVersion=' + remoteVersion,
      
    function(data){
        
      if (data.status === 'success'){
        $('#{{ uid }} .update_result').append('<p class="lead text-success">' +
          '<i class="fa fa-check"></i> ' + data.text +
          '</p>');
        if (data.step === 'finished'){
          $('#{{ uid }} .loading').remove();
          $('#{{ uid }} .update_result').append('<p class="lead">' +
            'Congrats! Version ' + remoteVersion + ' was successfully installed. ' +
              'You  should consider reloading the application to start working with ' +
              ' this release <a href="./admin">Reload now</a>.</p>');
          
        } else {
          stepByStepInstall(data.step, data.remoteVersion);
        }
        
      } else {
        $('#{{ uid }} .update_result').append('<div class="alert alert-danger">' +
          '<p class="lead">' + data.text + '</p>' +
          '</div>');
      }
    }, 'json');
  }
  
  $('#{{ uid }} .install').on('click', function(){
    stepByStepInstall('start', '{{ remote_vers }}');
  });
</script>
{% endif %}