<div id="{{ uid }}">
	<h2>{{ tr.get('edit_gallery') }}: {{ gallery }}</h2>
	
	<div class="btn-group" style="padding:20px 0;">
		{% if files|length == 0 %}
			<button class="btn btn-danger delete-gal">{{ tr.get('delete_gal') }}</button>
		{% endif %}
		<a class="btn btn-default reload" onclick="admin.tabs.reloadActive();" title="{{ tr.get('reload') }}"><i class="glyphicon glyphicon-repeat"></i> {{ tr.get('reload') }}</a>
		{% for lng in langs %}
		<a class="btn btn-default" href="#galleries/edit/{{ gallery }}/{{ lng.id }}" title="{{ tr.sget('translation_in_lang', lng.string|capitalize) }}"><i class="glyphicon glyphicon-globe"></i> {{ tr.sget('translation_in_lang', lng.string|capitalize) }}</a>
		{% endfor %}
	</div>

	<div class="well well-sm">
		<div class="uploader"></div>
	</div>
	
	
	<div class="row">
		{% if files|length > 0 %}
			<form action="javascript:void(0)">
				{% for file in files %}
					<div class="row {% if loop.index is divisibleby (2) %} well well-small {% endif %} listitem">
						<div class="col-xs-2">
							<h4>{{ file.name }}</h4>
							<p><button class="btn btn-danger delete" data-file="{{ file.name }}"><i class="glyphicon glyphicon-trash"></i> {{ tr.get('delete') }}</button></p>
						</div>

						<div class="col-xs-4">
							<img src="{{ file.fullpath }}" class="img-responsive" />
							<pre>{{ tr.get('img_dimensions') }}: {{ file.finfo.0 }}x{{ file.finfo.1 }}px</pre>
						</div>

						<div class="col-xs-3">
							{% if file.orig_descr %}
								<pre>{{ file.orig_descr }}</pre>
							{% endif %}
							<textarea data-file="{{ file.name }}" class="col-md-12" style="height:150px" name="{{ file.formattedName }}">{{ file.description }}</textarea>
							<p><button class="btn btn-success save" data-file="{{ file.name }}"><i class="glyphicon glyphicon-ok"></i> {{ tr.get('save') }}</button></p>
						</div>

						<div class="col-xs-3">
							<div class="img-thumb">
							{% if file.thumb %}
								<img src="{{ file.thumb }}" class="img-responsive" />
							{% endif %}
							</div>
							<button class="btn btn-info create_thumb" data-file="{{ file.name }}" data-width="{{ file.finfo.0 }}" data-height="{{ file.finfo.1 }}"><i class="glyphicon glyphicon-th-large"></i> {{ tr.get('re_create_thumb') }}</button>
						</div>

					</div>
				{% endfor %}
			</form>
		{% endif %}
	</div>
</div>

<script>
	admin.upload(
			$('#{{ uid }} div.uploader')[0],
			'controller.php?obj=utils&method=upload&param[]={{ upload_dir }}&param[]=removeSpaces',
			{
				loaded: function(){
					admin.tabs.reloadActive()
				}
			}
			);
	
	$('#{{ uid }} button.create_thumb').on('click', function(){
		var $this = $(this);
    $.post('controller.php?obj=galleries_ctrl&method=makeThumbs&param[]={{ upload_dir }}&param[]=' + $(this).data('file'), function(data){
			admin.message(data.text, data.status);
			if (data.status == 'success'){
        $this.prev('.img-thumb').html('<img src="' + data.thumb + '" />');
				//admin.tabs.reloadActive();
			}
		}, 'json');
	});
	
	$('#{{ uid }} button.save').on('click', function(){
		$.post('controller.php?obj=galleries_ctrl&method=saveData&param[]={{ upload_dir }}{% if translation %}&param[]={{ translation }}{% endif %}', $('#{{ uid }} form').serializeArray(), function(data){
			admin.message(data.text, data.status);
		}, 'json');
	});
	
	
	$('#{{ uid }} button.delete').on('click', function(){
		$this = $(this);
		$.get('controller.php?obj=galleries_ctrl&method=deleteImg&param[]={{ upload_dir }}&param[]=' + $(this).data('file'), function(data){
			admin.message(data.text, data.status);
			
			if (data.status !== 'error'){
        if ($this.parents('div.listitem').siblings().length > 0){
          $this.parents('div.listitem').remove();
				} else {
					admin.tabs.reloadActive();
				}
			}
		}, 'json');
	});
	
	
	$('#{{ uid }} .delete-gal').on('click', function(){
		$.get('controller.php?obj=galleries_ctrl&method=deleteGallery&param[]={{ upload_dir }}', function(data){
			admin.message(data.text, data.status);
			
			if (data.status == 'success'){
				admin.tabs.closeActive();
			}	
		}, 'json');
	});
	
</script>