{#  
 * @author     Julian Bogdani <jbogdani@gmail.com>
 * @copyright  2007-2021 Julian Bogdani
 * @license    AGPL-3.0; see LICENSE file
#}

<div id="{{ uid }}">

  <h2>{{ tr.get('galleries') }}</h2>

  <div class="well well-sm clearfix">
    <div class="btn-group">
      <a class="btn btn-info add_new" href="#" title="{{ tr.get('new_gallery') }}"><i class="fa fa-plus-circle"></i> {{ tr.get('new_gallery') }}</a>
      <a class="btn btn-default reload" onclick="admin.tabs.reloadThis(this);" title="{{ tr.get('reload') }}"><i class="fa fa-refresh"></i> {{ tr.get('reload') }}</a>
    </div>
      <div class="pull-right col-sm-2">
        <input type="text" class="form-control" placeholder="{{ tr.get('search') }}" id="input_{{ uid }}" />
      </div>
  </div>




  <ul class="galleryList" id="media-{{ uid }}">

  {% for gal in galleries %}
    <li class="img">
      <a class="" href="#galleries/edit/{{ gal }}">
        <i class="fa fa-picture-o"></i><br />
        <div style="text-align:center;" class="searcheable caption">{{ gal }}</div>
      </a>
    </li>
  {% endfor %}

  </ul>

</div>

<script>
  $('#input_{{ uid }}').on('keyup', function(){

    admin.media.filterDir($(this).val(), '{{ uid }}');
  });

  $('#{{ uid }} a.add_new').on('click', function(event){
    admin.dialog({
      html: '<input type="text" class="gal form-control" placeholder="' + admin.tr('gallery_name') + '" />'
        + '<p class="text-danger">' + admin.tr('gal_name_formatting') + '</p>',
      title: admin.tr('new_gallery'),
      loaded: function(modal){
        modal.find('input.gal').focus();
        admin.removeNotValid(modal.find('input.gal'), {
          'replace': '-',
          'toLower': true,
          'permit': ['\\-', '_']
        });
      },
      buttons:[
               {
                 text: admin.tr('save'),
                 addclass: 'btn-success',
                 click: function(){
                   var gal = $('.modal input.gal').val();
                   if (!gal){
                     admin.message(admin.tr('gallery_name_cannot_be_empty'), 'error');
                   } else {
                     $.get('controller.php?obj=galleries_ctrl&method=addGallery&param[]=' + gal, function(data){
                       admin.message(data.text, data.status);

                       if (data.status == 'success'){
                         window.location = '#galleries/edit/' + gal;

                         $('#modal').modal('hide');
                       }
                     }, 'json');
                   }
                 }
               },
               {
                 text: admin.tr('close'),
                 action: 'close'
               }
               ]
    });
    event.preventDefault();
  });
</script>
