<div id="{{ uid }}">

  <div class="well well-sm">File: <code>{{ filename }}</code></div>

  <div>
    <button class="btn btn-success btn-block save" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
      <i class="fa fa-check"></i> {{ tr.get('save' )}}
    </button>
  </div>
  
  <pre class="prettyprint {% if lang %} lang-{{ lang }}{% endif %}" id="txt_{{ uid }}" contenteditable="true">{{ content }}</pre>
  
  <div>
    <button class="btn btn-success btn-block save" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
      <i class="fa fa-check"></i> {{ tr.get('save' )}}
    </button>
  </div>
  
</div>




<script>
  
  prettyPrint();
  
  $('#{{ uid }} .save').on('click', function(){
    
    var self =  $(this);
    self.button('loading');
    var html = $('#txt_{{ uid }}')
      .html()
      .replace(/<div>/gi,"\n")
      .replace(/<\/div>/gi,'')
      .replace(/<br>/gi, "\n")
      .replace(/<br \/>/gi, "\n")
      .replace(/%/gi, '\%');
    ;
    
    var tmpdiv = $('<div></div>').html(html);
    
    $.post('controller.php?obj=template_ctrl&method=save&param[]={{ filename }}', { text: tmpdiv.text() }, function(data){
      admin.message(data.text, data.status);
      self.button('reset');
    }, 'json');
  });
</script>