<div id="{{ uid }}">

	<div class="well well-sm">File: <code>{{ filename }}</code></div>

	<div><button class="btn btn-success pull-right save"><i class="icon ion-checkmark"></i> Save</button></div>
	
	<pre class="prettyprint {% if lang %} lang-{{ lang }}{% endif %}" id="txt_{{ uid }}" contenteditable="true">{{ content }}</pre>
	
</div>




<script>
	
	prettyPrint();
	
	$('#{{ uid }} .save').on('click', function(){
    var html = $('#txt_{{ uid }}').html().replace(/<div>/, "\n").replace('/<\/div>', '').replace(/<br>/, "\n");
		$.post('controller.php?obj=template_ctrl&method=save&param[]={{ filename }}', { text: $(html).text() }, function(data){
			admin.message(data.text, data.type);
		}, 'json');
	});
</script>