<div id="{{ uid }}">


  <div class="row">
    <div class="col-sm-2">
      <p>
      <button class="btn btn-warning create btn-block">
        <i class="fa fa-magic"></i> {{ tr.get('create_file')}}
      </button>
      </p>
      <p>
      <button class="btn btn-warning compile btn-block" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
        <i class="fa fa-cog"></i> {{ tr.get('compile_less') }}
      </button>
      </p>
      <p>
      <button class="btn btn-warning empty_cache btn-block" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading....">
        <i class="fa fa-trash"></i> {{ tr.get('empty_cache') }}
      </button>
      </p>
      <p>
      <button class="btn btn-default refresh btn-block">
        <i class="fa fa-refresh"></i> {{ tr.get('reload')}}
      </button>
      </p>
      <p>
      <button class="btn btn-danger delete btn-block">
        <i class="fa fa-trash"></i> {{ tr.get('delete_file')}}
      </button>

    </div>

    <div class="col-sm-10">
      <div class="input-group">
        <select class="form-control fileselect">
        {% for lang in ['twig', 'css', 'less', 'js', 'md'] %}
          <optgroup label="{{ lang|upper }}">
          {% for f in files[lang] %}

            <option data-file="{{ f }}" data-type="{{ lang }}">{{ f }}</option>

          {#<div class="btn-group" style="margin: 3px 0;">
            <button class="btn btn-info file" data-file="{{ f }}" data-type="{{ lang }}">{{ f }}</button>
            <a class="btn btn-warning download" data-file="{{ f }}" data-type="{{ lang }}"><i class="fa fa-download"></i></a>
          </div>#}
          {% endfor %}
          </optgroup>
        {% endfor %}
        </select>
        <div class="input-group-btn">
          <button class="btn btn-primary editfile" data-file="{{ f }}" data-type="{{ lang }}">
            <i class="fa fa-pencil"></i>
            {{ tr.get('edit') }}
          </button>
          <button class="btn btn-info download" data-file="{{ f }}" data-type="{{ lang }}">
            <i class="fa fa-download"></i>
            {{ tr.get('open_download') }}
          </button>
        </div>
      </div>

      <div class="editor" style="margin-top:30px;"></div>

      <div style="margin-top:20px;">
        <div class="well well-sm clearfix">
          <i class="fa fa-bullhorn" style="font-size:1.5em;"></i> {{ tr.get('empty_cache_to_use_twig') }}
          <div class="pull-right">
            <a class="btn btn-default" href="#docs/read/tmpl_twig"><i class="fa fa-question-circle"></i> {{ tr.get('what_is_twig') }}</a>
          </div>
        </div>

        <div class="well well-sm clearfix">
          <i class="fa fa-bullhorn" style="font-size:1.5em;"></i> {{ tr.get('compile_less_to_apply_changes') }}
          <div class="pull-right">
            <a class="btn btn-default" href="#docs/read/tmpl_less"><i class="fa fa-question-circle"></i> {{ tr.get('what_is_less') }}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>

  {% if file and type %}
    $('#{{ uid }} .editor').html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...')
      .load('controller.php?obj=template_ctrl&method=edit&param[]={{ file }}&param[]={{ type }}');
  {% elseif file == 'delete' %}
    $('#{{ uid }} .editor').html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...')
        .load('controller.php?obj=template_ctrl&method=delete_file');
  {% elseif file == 'create' %}
    $('#{{ uid }} .editor').html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...')
        .load('controller.php?obj=template_ctrl&method=new_file');
  {% endif %}

  $('#{{ uid }} .create').on('click', function(){
    _ignorehash = true;
    location.hash = '#template/dashboard/create';
    $('#{{ uid }} .editor').html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...')
      .load('controller.php?obj=template_ctrl&method=new_file');
  });

  $('#{{ uid }} .delete').on('click', function(){
    _ignorehash = true;
    location.hash = '#template/dashboard/delete';
    $('#{{ uid }} .editor').html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...')
      .load('controller.php?obj=template_ctrl&method=delete_file');
  });

  $('#{{ uid }} .editfile').on('click', function(){
    _ignorehash = true;
    var file = $('#{{ uid }} select.fileselect').find('option:selected').data('file');
    var type = $('#{{ uid }} select.fileselect').find('option:selected').data('type');
    location.hash = '#template/dashboard/' + $(this).data('file');
    $('#{{ uid }} .editor').html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...')
      .load('controller.php?obj=template_ctrl&method=edit&param[]=' + file + '&param[]=' + type);
  });


$('#{{ uid }} .download').on('click', function(){
  var file = $('#{{ uid }} select.fileselect').find('option:selected').data('file');
  var type = $('#{{ uid }} select.fileselect').find('option:selected').data('type');
  var url = './sites/default/';

  switch(type){
      case 'twig':
      case 'md':
        url += file;
        break;
      case 'less':
      case 'css':
        url += 'css/' + file;
        break;
      case 'js':
        url += 'js/' + file;
        break;
      default:
        return false;
        break;
    }

    window.open(url, '_blank');

});



  $('#{{ uid }} .compile').on('click', function(){
    var self =  $(this);
    self.button('loading');
    $.get('controller.php?obj=template_ctrl&method=compile', function(data){
      admin.message(data.text, data.status);
      self.button('reset');
    }, 'json');
  });

  $('#{{ uid }} .empty_cache').on('click', function(){
    var self =  $(this);
    self.button('loading');
    $.get('controller.php?obj=cfg_ctrl&method=empty_cache', function(data){
      admin.message(data.text, data.status);
      self.button('reset');
    }, 'json');
  });

  $('#{{ uid }} .refresh').on('click', function(){
    admin.tabs.reloadThis(this);
  });
</script>
