<div id="{{ uid }}">
		
	<div class="row">
	
		<div class="col-md-2">
      
      <p>
				<button class="btn btn-warning btn-block create"><i class="icon ion-wand"></i> {{ tr.get('create_file')}}</button>
			</p>
      
			{% for lang in ['twig', 'css', 'less', 'js', 'md'] %}
				
				{% for f in files[lang] %}
				<div class="btn-group" style="margin: 3px 0;">
					<button class="btn btn-info file" data-file="{{ f }}" data-type="{{ lang }}">{{ f }}</button>
          <a class="btn btn-warning download" data-file="{{ f }}" data-type="{{ lang }}"><i class="icon ion-android-download"></i></a>
        </div>
				{% endfor %}
				
			{% endfor %}
			<p>
				<button class="btn btn-warning btn-block compile" data-loading-text="<i class='icon ion-load-c ion-loading-c'></i> Loading....">
          <i class="icon ion-gear-a"></i> {{ tr.get('compile_less') }}
        </button>
			</p>
			<p>
				<button class="btn btn-warning btn-block empty_cache" data-loading-text="<i class='icon ion-load-c ion-loading-c'></i> Loading....">
          <i class="icon ion-trash-a"></i> {{ tr.get('empty_cache') }}
        </button>
			</p>
      
			
			<p>
				<button class="btn btn-default btn-block refresh"><i class="icon ion-refresh"></i> {{ tr.get('reload')}}</button>
			</p>
			
      <hr />

      <p>
				<button class="btn btn-danger btn-block delete"><i class="icon ion-trash-a"></i> {{ tr.get('delete_file')}}</button>
			</p>

		</div>
		
		<div class="col-md-10">
			<div>
				<div class="well well-sm clearfix">
					<i class="icon ion-speakerphone" style="font-size:1.5em;"></i> {{ tr.get('empty_cache_to_use_twig') }}
					<div class="pull-right">
						<a class="btn btn-default" href="#docs/read/tmpl_twig"><i class="icon ion-help-circled"></i> {{ tr.get('what_is_twig') }}</a>
					</div>
				</div>
				
				<div class="well well-sm clearfix">
					<i class="icon ion-speakerphone" style="font-size:1.5em;"></i> {{ tr.get('compile_less_to_apply_changes') }}
					<div class="pull-right">
						<a class="btn btn-default" href="#docs/read/tmpl_less"><i class="icon ion-help-circled"></i> {{ tr.get('what_is_less') }}</a>
					</div>
				</div>
			</div>
				
			<div class="editor"></div>
		</div>
		
	</div>
</div>

<script>

  $('#{{ uid }} .create').on('click', function(){
    $('#{{ uid }} .editor').html('<i class="icon ion-load-c ion-loading-c"></i> Loading...')
      .load('controller.php?obj=template_ctrl&method=new_file');
  });

  $('#{{ uid }} .delete').on('click', function(){
    $('#{{ uid }} .editor').html('<i class="icon ion-load-c ion-loading-c"></i> Loading...')
      .load('controller.php?obj=template_ctrl&method=delete_file');
  });
	
	$('#{{ uid }} .file').on('click', function(){
		$('#{{ uid }} .editor').html('<i class="icon ion-load-c ion-loading-c"></i> Loading...')
      .load('controller.php?obj=template_ctrl&method=edit&param[]=' + $(this).data('file') + '&param[]=' + $(this).data('type'));
	});
  
  $('#{{ uid }} .download').each(function(i, el){
    var url = './sites/default/';
    switch($(el).data('type')){
      case 'twig':
      case 'md':
        url += $(el).data('file');
        break;
      case 'less':
      case 'css':
        url += 'css/' + $(el).data('file');
        break;
      case 'js':
        url += 'js/' + $(el).data('file');
        break;
      default:
        return false;
        break;
    }
    
    $(el).attr('href', url);
    $(el).attr('target', '_blank');
    $(el).attr('download', $(el).data('file'));
		
	});
	
	$('#{{ uid }} .compile').on('click', function(){
    var self =  $(this);
    self.button('loading');
		$.get('controller.php?obj=template_ctrl&method=compile', function(data){
			admin.message(data.text, data.status);
      self.button('reset');
		}, 'json');
	});
	
	$('#{{ uid }} .empty_cache').on('click', function(){
    var self =  $(this);
    self.button('loading');
		$.get('controller.php?obj=cfg_ctrl&method=empty_cache', function(data){
			admin.message(data.text, data.status);
      self.button('reset');
		}, 'json');
	});
  
	$('#{{ uid }} .refresh').on('click', function(){
		admin.tabs.reloadActive();
	});
</script>
