<div id="{{ uid }}">
  <h2>{{ tr.get('create_file') }}</h2>

  <div class="form-inline">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon path">./sites/default/</div>
        <input class="form-control filename" type="text" placeholder="{{ tr.get('filename')}}">
      </div>
    </div>
    <div class="form-group">
      <select class="form-control type">
        <option></option>
        <option value="twig">{{ tr.get('template_file') }}</option>
        <option value="less">{{ tr.get('stylesheet_less_file') }}</option>
        <option value="css">{{ tr.get('stylesheet_css_file') }}</option>
        <option value="js">{{ tr.get('js_file') }}</option>
      </select>
    </div>

    <button type="button" class="btn btn-success createfile"
            data-loading-text="<i class='icon ion-load-c ion-loading-c'></i> Loading...."
            >
      <i class="icon ion-wand"></i>
      {{ tr.get('create_file') }}
    </button>
  </div>
</div>
  
<script>

  $('#{{ uid }} .type').on('change', function(){
    var path = './sites/default/';
    var type = $('#{{ uid }} .type').val();
    
    switch(type){
        
      case 'less':
      case 'css':
        path += 'css/';
        break;
        
      case 'js':
        path += 'js/';
        break;
      
      case 'twig':
      default:
        break;
    }
    $('#{{ uid }} .path').text(path);
    
  });

  $('#{{ uid }} .createfile').on('click', function(){
    var filename = $('#{{ uid }} .filename').val();
    var type = $('#{{ uid }} .type').val();
    
    
    if (!filename || !type){
      admin.message(admin.tr('filename_type_missing'), 'error');
      return false;
    }
    
    
    var file = $('#{{ uid }} .path').text() + '' + filename + '.' +  type;
    
    
    $.get('controller.php?obj=template_ctrl&method=create_file&param[]=' + file, function(data){
			admin.message(data.text, data.status);
      
      if (data.status === 'success'){
        admin.tabs.reloadActive();
      }
		}, 'json');
    
    
    
  });
</script>